<button class='smallerBtn' (click)='select("A")'>čosi číslo A</button>
<button class='smallerBtn' (click)='select("B")'>čosi číslo B</button>
<button class='smallerBtn' (click)='select("C")'>čosi číslo C</button>
<div *slideMenuShow='selectedItem==undefined' class='overHidden textWrapper positionAbsolute' [ngClass]='compactSubClass' style='left: 0; right: 0; margin: auto;'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass' style='height:55px'>
        Tu treba pošťukať tieto gombíky.
    </div>
</div>
<div *slideMenuShow='selectedItem=="A" && !ugly' class='overHidden textWrapper positionAbsolute' [ngClass]='compactSubClass' style='left: 0; right: 0; margin: auto;'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass' style='height:55px'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin diam ligula, consectetur sed iaculis vel,
        tempor eget nisl. Etiam id tempus neque, sed viverra mi. Vestibulum in dictum erat, eu pulvinar justo.
        Fusce ultricies ante at aliquet iaculis. Nam vestibulum auctor orci. Nunc non velit lacinia, lacinia sem et,
        varius erat.
    </div>
</div>
<div *slideMenuShow='selectedItem=="B" && !ugly' class='overHidden textWrapper positionAbsolute' [ngClass]='compactSubClass' style='left: 0; right: 0; margin: auto;'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass' style='height:55px'>
        Donec ut lorem vitae tortor fermentum mattis id non massa. Praesent vel dolor odio. Aenean iaculis dolor
        dolor, ac vestibulum mauris mollis et. Quisque varius pharetra orci et auctor. Quisque tempus vulputate
        nisl eget consequat. Cras eu diam a felis porttitor tincidunt. In at mi eu velit pellentesque consectetur
        ac eget nulla.
    </div>
</div>
<div *slideMenuShow='selectedItem=="C" && !ugly' class='overHidden textWrapper positionAbsolute' [ngClass]='compactSubClass' style='left: 0; right: 0; margin: auto;'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass' style='height:55px'>
        Sed porttitor tortor est, et malesuada justo consequat a. Nam gravida vulputate turpis non consectetur.
        Maecenas consectetur odio imperdiet nulla placerat, ac accumsan arcu ultricies. Fusce gravida lectus dui,
        et commodo eros placerat in. Pellentesque auctor risus nec pulvinar tempus. Nullam augue mi, suscipit et
        purus eget, faucibus tristique felis.
    </div>
</div>
<div *slideMenuShow='selectedItem=="A" && ugly' class='overHidden textWrapper' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin diam ligula, consectetur sed iaculis vel,
        tempor eget nisl. Etiam id tempus neque, sed viverra mi. Vestibulum in dictum erat, eu pulvinar justo.
        Fusce ultricies ante at aliquet iaculis. Nam vestibulum auctor orci. Nunc non velit lacinia, lacinia sem et,
        varius erat.
    </div>
</div>
<div *slideMenuShow='selectedItem=="B" && ugly' class='overHidden textWrapper' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        Donec ut lorem vitae tortor fermentum mattis id non massa. Praesent vel dolor odio. Aenean iaculis dolor
        dolor, ac vestibulum mauris mollis et. Quisque varius pharetra orci et auctor. Quisque tempus vulputate
        nisl eget consequat. Cras eu diam a felis porttitor tincidunt. In at mi eu velit pellentesque consectetur
        ac eget nulla. Donec ut lorem vitae tortor fermentum mattis id non massa. Praesent vel dolor odio. Aenean
        iaculis dolor dolor, ac vestibulum mauris mollis et. Quisque varius pharetra orci et auctor. Quisque tempus
        vulputate nisl eget consequat. Cras eu diam a felis porttitor tincidunt. In at mi eu velit pellentesque
        consectetur ac eget nulla.
    </div>
</div>
<div *slideMenuShow='selectedItem=="C" && ugly' class='overHidden textWrapper' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        Sed porttitor tortor est, et malesuada justo consequat a. Nam gravida vulputate turpis non consectetur.
        Maecenas consectetur odio imperdiet nulla placerat, ac accumsan arcu ultricies. Fusce gravida lectus dui,
        et commodo eros placerat in. Pellentesque auctor risus nec pulvinar tempus. Nullam augue mi, suscipit et
        purus eget, faucibus tristique felis.
    </div>
</div>


<div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass' [ngStyle]='uglyStyle'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        <p>
            'div' tohto textu má nastavenú direktívu 'slideMenu'.
        </p>
        <p>
            Ak sa vyhovie podmienke, tak táto direktíva vloží element na ktorom je nastavená do templatu
            (zobrazí ho) a nastaví na ňom animáciu.
        </p>
        <p>
            Direktíva má jednu nevýhodu, a to tú, že elementy na ktorých beží animácia zaujmu svoju polohu
            a svoj priestor ktorý potrebujú pre zobrazenie až po dokončení animácie. Teda sa stránka troška
            nepekne chová ak sa má zväčšiť / zmenšiť <a (click)='toggleUgly()' class='cursorPointer'>tu je príklad</a>.
            Po šťuknutí sa treba znova pohrať s tými tlačítkami hore.
        </p>
    </div>
</div>
<fieldset class='littleDarker' style='margin-top: 80px'>
    <legend style='text-align:left'>
        <button (click)='showCode();' class='smallerBtn'>
            <svg class='char' [@rotate]='detailsVisible2rotation(codeVisible)' role='img' viewBox='0 0 320 512'>
                <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
            </svg>
            Kód
        </button>
    </legend>
    <div *ngIf='codeVisible' class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
            <textarea class='width100 code' [ngClass]='compactSubClass' #ta1 style='height: 2630px'>
import { Directive, ElementRef, Input, AfterViewInit, OnChanges, SimpleChanges, ViewContainerRef, TemplateRef, Output, EventEmitter } from '@angular/core';
import { AnimationBuilder, AnimationMetadata, style, animate, AnimationPlayer } from '@angular/animations';

@Directive({
    selector: '[slideMenuShow]',
})

export class SlideMenuDirective implements AfterViewInit, OnChanges {
    @Input('slideMenuShow') slideMenuShow: boolean;
    @Input('smForceAppear') forceAppear: boolean;

    private active:boolean;
    private player: AnimationPlayer;

    constructor(private elref:ElementRef, private viewContainer: ViewContainerRef,
        private template: TemplateRef<object>, private animationBuilder: AnimationBuilder) {
        viewContainer.clear();
    }
    ngAfterViewInit(){
    }
    private elementToAnimate: HTMLElement;
    private startShow() {
        let showMeta: AnimationMetadata[];
        let rand: number = Math.random();
        if (rand < 0.1) showMeta = this.showByAppearNBlink();
        else if (rand < 0.4) showMeta = this.showByAppear();
        else if (rand < 0.7) showMeta = this.showByHSlideRight();
        else showMeta = this.showByHSlideLeft();

        if (this.forceAppear) showMeta = this.showByAppear();

        this.viewContainer.createEmbeddedView(this.template);
        this.elementToAnimate = this.viewContainer.element.nativeElement.nextSibling;

        if (this.player) this.player.destroy();
        const factory = this.animationBuilder.build(showMeta);
        const player = factory.create(this.elementToAnimate);

        let positon: string = this.elementToAnimate.style.position;
        player.onStart(() => {
            this.elementToAnimate.style.position='absolute';
        });
        player.play();
        player.onDone(() => {
            player.destroy();
            this.elementToAnimate.style.position = positon;
            this.elementToAnimate.style.transform = '';
        });
    }
    private startHide() {
        let hideMeta: AnimationMetadata[];
        let rand = Math.random();
        if (rand < 0.3) hideMeta = this.hideByHSlideLeft();
        else if (rand < 0.6) hideMeta = this.hideByHSlideRight();
        else hideMeta = this.hideByDissappear();

        //hideMeta=this.hideByDissappear();

        if (this.player) this.player.destroy();
        const factory = this.animationBuilder.build(hideMeta);
        const player = factory.create(this.elementToAnimate);

        let positon:string = this.elementToAnimate.style.position;
        player.onStart(() => {
            this.elementToAnimate.style.position = 'absolute';
        });
        player.play();
        player.onDone(() => {
            this.viewContainer.clear();
            player.destroy();
            this.elementToAnimate.style.position = positon;
        });
    }

    ngOnChanges(changes: SimpleChanges){
        if (changes.slideMenuShow){
            this.showOrHide();
        }
    }
    private _slideMenuShow: boolean = false;
    private showOrHide() {
        if (this._slideMenuShow == this.slideMenuShow) return;
        if (this.slideMenuShow) {
            this.active = true;
            this.startShow();
        } else {
            if (this.active) {
            this.active = false;
            this.startHide();
            }
        }
        this._slideMenuShow = this.slideMenuShow;
    }
    private showByHSlideRight(): AnimationMetadata[] {
        let offset: number = window.innerWidth;
        let transformBegin: string = 'translate('+offset+'px,0px)';
        let transformFinal: string = 'translate(0px,0px)';
        let overTransform: string = 'translate(-30px,0px)';
        let ret: AnimationMetadata[] = [
            style({ transform: transformBegin, opacity: 0 }),
            animate('600ms ease', style({ transform: overTransform, opacity: 0.7 })),
            animate('300ms ease-out', style({ transform: transformFinal, opacity: 1 })),
        ];
        return ret;
    }
    private showByHSlideLeft(): AnimationMetadata[] {
        let offset: number = -window.innerWidth;
        let transformBegin: string = 'translate('+offset+'px,0px)';
        let transformFinal: string = 'translate(0px,0px)';
        let overTransform: string = 'translate(30px,0px)';
        let ret: AnimationMetadata[] = [
            style({ transform: transformBegin, opacity: 0 }),
            animate('600ms ease', style({ transform: overTransform, opacity: 0.7 })),
            animate('300ms ease-out', style({ transform: transformFinal, opacity: 1 })),
        ];
        return ret;
    }
    private showByAppearNBlink(): AnimationMetadata[] {
        let transformFinal: string = 'translate(0px,0px)';
        let ret: AnimationMetadata[] = [
            style({ transform: transformFinal, opacity: 0 }),
            animate('300ms ease', style({ opacity: 1 })),
            animate('50ms ease', style({ opacity: 0.5 })),
            animate('50ms ease', style({ opacity: 1 })),
        ];
        return ret;
    }
    private showByAppear(): AnimationMetadata[] {
        let transformFinal: string = 'translate(0px,0px)';
        let ret: AnimationMetadata[] = [
            style({ transform: transformFinal, opacity: 0 }),
            animate('300ms ease', style({ opacity: 1 }))
        ];
        return ret;
    }

    private hideByHSlideLeft(): AnimationMetadata[] {
        let offset: number = window.innerWidth;
        let transform: string = 'translate('+-offset+'px,0px)';
        let transform0: string = 'translate(0px,0px)';
        let ret: AnimationMetadata[] = [
            style({ transform: transform0, opacity: 1 }),
            animate('750ms ease', style({ transform: transform, opacity: 0 })),
        ];
        return ret;
    }
    private hideByHSlideRight(): AnimationMetadata[] {
        let offset: number = window.innerWidth;
        let transform: string = 'translate('+offset+'px,0px)';
        let transform0: string = 'translate(0px,0px)';
        let ret: AnimationMetadata[] = [
            style({ transform: transform0, opacity: 1 }),
            animate('750ms ease', style({ transform: transform, opacity: 0 })),
        ];
        return ret;
    }
    private hideByDissappear(): AnimationMetadata[] {
        let ret: AnimationMetadata[] = [
            animate('600ms ease', style({ opacity: 0 })),
        ];
        return ret;
    }
    private hideMeta3(): AnimationMetadata[] {
        let ret: AnimationMetadata[] = [
            animate('0ms ease', style({ opacity: 0 })),
        ];
        return ret;
    }
}                
            </textarea>
        </div>
    </div>
</fieldset>