/* You can add global styles to this file, and also import other style files */
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
.compactHtml::before {
    content: ' ';
    display: block;
    background-image: url('/assets/imgs/bkgs/globalBkg.jpg');
    background-position: top center;
    background-size: cover;
    background-color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
}
.nonCompactHtml {
    background-image: url('/assets/imgs/bkgs/globalBkg.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.textWrapper{
	color: #fff;
    margin-top: 2%;
	margin-bottom: 4%;
    box-shadow: 5px 5px 30px 0px #00000080;
    font-family: Oxygen, sans-serif;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    /*transition-property: width, margin-left, margin-right;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;*/
}
.header.textWrapper{
    width: 40%;
    min-width: 200px;
}
.textWrapper.nonCompact{
    background-image: url('/assets/imgs/bkgs/textBkg_blur.png');
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}
.overlayColorAndDoubleBorder{
	padding: 2rem;
}
.overlayColorAndNoBorder{
	padding: 2rem;
}
.overlayColorAndDoubleBorder.nonCompact{
    background-color: rgba(114, 114, 114, 0.4);
	border: 3px double rgba(255, 255, 255, 0.3);
}
.overlayColorAndDoubleBorder.compact, .overlayColorAndDoubleBorder.ultraCompact{
    background-color: rgba(71, 71, 71, 0.6);
	border: 1px solid rgba(193, 193, 193, 0.3);
}
.overlayColorAndNoBorder.nonCompact{
    background-color: rgba(114, 114, 114, 0.4);
}
.overlayColorAndNoBorder.compact, .overlayColorAndNoBorder.ultraCompact{
    background-color: rgba(71, 71, 71, 0.6);
	border: 1px solid rgba(193, 193, 193, 0.3);
}

a{
    color: #bbb;
}
.nonSelectable{
    user-select: none;
}
.boxBorder{
    box-sizing: border-box;
}
.cursorDefault{
    cursor: default;
}
.cursorPointer{
    cursor: pointer;
}
.decorationUnderline{
    text-decoration: underline;
}
.whiteColor{
    color: white;
}
.grayColor{
    color: gray;
}
.blackColor{
    color: black;
}
.overHidden{
    overflow: hidden;
}
.overVisible{
    overflow: visible;
}
.z1{
    z-index: 1;
}
.z2{
    z-index: 2;
}
.z3{
    z-index: 3;
}
.z4{
    z-index: 4;
}
.z5{
    z-index: 5;
}
.z6{
    z-index: 6;
}
.z7{
    z-index: 7;
}
.z8{
    z-index: 8;
}
.z9{
    z-index: 9;
}
.z10{
    z-index: 10;
}
.z11{
    z-index: 11;
}
.z12{
    z-index: 12;
}
.z100{
    z-index: 100;
}
.z101{
    z-index: 101;
}
.font0{
    font-size: 0;
}
.font10{
    font-size: 10px;
}
.fontBold{
    font-weight: bold;
}
body{
    background-color: #777;
    margin: 0;
}
.width100{
    width: 100%;
}
.height100{
    height: 100%;
}
.width0{
    width: 0px;
}
.top0{
    top: 0;
}
.bottom0{
    bottom: 0;
}
.left0{
    left: 0;
}
.right0{
    right: 0;
}
.displayNoneImportant{
    display: none !important;
}
.displayBlock{
    display: block;
}
.displayBlockImportant{
    display: block !important;
}
.displayInlineBlock{
    display: inline-block;
}
.displayInline{
    display: inline;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.visibilityHidden{
    visibility: hidden;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.clearBoth{
    clear: both;
}
.textCenter{
    text-align: center;
}
.textLeft{
    text-align: left;
}
.left50{
    left: 50%;
}
.top50{
    top: 50%;
}
.transform50{
    transform: translate(-50%, -50%);
}
.centerHorizontally{
    margin-left: auto;
    margin-right: auto;
}
.margin0{
    margin: 0;
}
.padding0{
    padding: 0;
}
.marginTop20{
    margin-top: 20px;
}
.paddingTop20{
    padding-top: 20px;
}
.paddingTop5{
    padding-top: 5px;
}
.paddingBottom5{
    padding-bottom: 5px;
}
.positionRelative{
    position: relative;
}
.positionAbsolute{
    position: absolute;
}
.positionFixed{
    position: fixed;
}
.backgroundColorNone{
    background-color: rgba(0, 0, 0, 0);
}
.outlineNone{
    outline: none;
}
.transitionHeightTop{
    transition-property: top;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}
button{
    background-color: rgb(65, 68, 64);
    border: 1px solid rgb(82, 82, 82);
    color: rgb(207, 207, 207);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    outline: none;
    z-index: 10;

    transform-origin: 50%;
    transition-property: box-shadow, border, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
button:hover{
    z-index: 100;
    color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 30px 0px rgb(61, 61, 61);
    border: 1px solid rgb(117, 117, 117);
    transform: scale(1);
}
.smallerBtn{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

    height: 30px;
}
.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.green {
    background-color: rgb(69, 169, 69);;
}
.gray {
    background-color: #bbb;
}

.verticalBottom{
    vertical-align: bottom;
}
.scale2{
    transform: scale(2);
    vertical-align: sub;
}
.marginL15{
    margin-left: 15px;
}
.littleDarker{
    background-color: rgba(0,0,0,0.2);
}
.char{
    height: 1em;
}
fieldset {
    display: block;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid #5a5a5a;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.opacity1{
    opacity: 1;
}
.opacity0{
    opacity: 0;
}
.code{
    background-color: transparent;
    border: none;
    outline: none;
    white-space: nowrap;
    color: greenyellow;
    font-family: monospace;
    font-size: 1em;
}
.code.compact, .code.ultraCompact{
    color: white;
}