<section>
  <div *slideMenuShow='toDo == dotNetteUrl' class='width100'>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          EnginKalkulatorowy
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Kniznica pre riešenie refreshu výpočtov (volaní) metód pri zmene ich vstupných parametrov.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showEK()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/EKFrg.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-100px' frgMarginTop='-100px' frgHeight='200px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>

    <div class='clearBoth'></div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Equationer
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Knižnica na parsovanie vzorcov.
        </p>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showEquationer()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/EquationerFrg.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-100px' frgMarginTop='-104px' frgHeight='200px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>

    <div class='clearBoth'></div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          ObservableDictionary
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Knižnica na parsovanie vzorcov.
        </p>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showObservableDictionary()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/EquationerFrg.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-100px' frgMarginTop='-104px' frgHeight='200px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>
  </div>

  
  <div *slideMenuShow='isEK' class='mainItem width100'>
    <EK [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'
    [(toDo)]='toDo'></EK>
  </div>

  <div *slideMenuShow='toDo == equationerUrl' class='mainItem width100'>
    <equationer [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></equationer>
  </div>

  <div *slideMenuShow='toDo == observableDictionaryUrl' class='mainItem width100'>
    <observableDictionary [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></observableDictionary>
  </div>

</section>