<div class="centerText">
  <input type="text" class="answer" placeholder="lava odpoved" [(ngModel)]="context.leftMostSign"/>
  <input *ngFor="let answer of context.answers" type="number" class="weight" placeholder="vaha" [(ngModel)]="answer.weight"/>
  <input type="text" class="answer" placeholder="prava odpoved" [(ngModel)]="context.rightMostSign"/>
  <label>
    <input type='checkbox' class='scale2 marginL15' [(ngModel)]='context.answerWeightsVisible'/>
    viditelne vahy
  </label>
</div>
<div class="centerText">
  <input type="number" class="answerCnt" placeholder="pocet moznosti" [(ngModel)]="context.numberOfAnswers"/>
  <button (click)="context.ascWeights()">asc</button>
  <button (click)="context.descWeights()">desc</button>
  <button (click)="context.ascSawWeights()">sasc</button>
  <button (click)="context.descSawWeights()">sdesc</button>
</div>
