<button *ngIf="session.isUberAdmin()" class="smallerBtn" (click)="recreateTables()">sprau bambulky</button>
<div class='overHidden textWrapper' [ngClass]='compactSubClass' *ngFor="let meas of chartOptions">
  <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
    <div class="width100">
      <div *ngIf="meas.dname != ''" class="floatLeft">
        <label>{{meas.dname}}</label>
      </div>
      <div *ngIf="(meas.isFromThisUser || session.isUberAdmin()) && !meas.optionsPrintable" class="floatRight">
        <label>poslenná honnota:</label>
        <label>{{meas.lastValue}}</label>
      </div>
    </div>
    <div style="echart" [ngStyle]="meas.background" echarts [options]="{}" [merge]="meas.options" (chartInit)="onChartInit(meas, $event)"></div>
    <div *ngIf="meas.isFromThisUser || session.isUberAdmin()">
      <div class="darker">
        <div *ngIf="!meas.optionsPrintable && !meas.finished">
          <button class="smallerBtn" (click)='tryEndMeas(meas)'>
            ukončti záznam
          </button>
          <label>Limity:</label>
          <grafos-limits *ngIf="!meas.optionsPrintable" [meas]="meas"></grafos-limits>
        </div>
        <ng5-slider *ngIf="meas.optionsPrintable" class="positionRelative slider"
                    [(value)]="meas.fromValue" [(highValue)]="meas.toValue" [options]="meas.fromToOptions">
        </ng5-slider>
      </div>
      <button class="smallerBtn" (click)='meas.toggleChartPrintable()' *ngIf="meas.finished">
        {{meas.makePrintableTxt}}
      </button>
      <button *ngIf="!meas.optionsPrintable && meas.finished" class="smallerBtn" (click)='tryEraseMeas(meas)'>
        daj preč
      </button>
    </div>
  </div>
</div>