.floatTextWrapper.nonCompact{
    margin-left: 20px;
    margin-right: 20px;
}
.floatTextWrapper.compact{
    margin-left: 10px;
    margin-right: 10px;
}
.floatTextWrapper.ultraCompact{
    float: initial;
}

.slider{
    left: 10%;
    width: 80%;
    display: block;
}
.darker{
    background-color: rgba(0, 0, 0, 0.5);
}
.actualValue{
    right: 2%;
    transform: translate(-50%, 0%);
}
.actualName{
    left: 10%;
    transform: translate(-50%, 0%);
}
.overHidden.compact{
    width: 100%;
}
.overlayColorAndDoubleBorder.compact{
    padding: 1em;
}
.ultraCompact{
    width: 100%;
    padding: 0em;
}
