<span *ngIf='test && !showTimingInfo'>{{timerCounter | date:'mm:ss'}}</span>

<app-testing-test *ngIf='test && !showTimingInfo && !showNameInfo'></app-testing-test>
<div class='textArea littleDarker' *ngIf='showTimingInfo'>
    test '{{test?.name}}' je časovaný. spustiť test?
    <button (click)='hideTimingInfo()'>ok</button>
</div>
<div class='textArea littleDarker' *ngIf='showNameInfo'>
    test '{{test?.name}}' nie je anonymný. je potrebné zadať meno.
    <input type='text' class='txt' name='name' placeholder='meno, rod. č, aj kredika' [(ngModel)]='identificator'/>
    <button (click)='hideNameInfo()'>ok</button>
</div>

<button *ngIf='isOpenedTestFirstTest()' (click)='goPrev()'>nazad</button>
<button *ngIf='!isOpenedTestLastTest()' (click)='goNext()'>dalej</button>
<button (click)='finish()'>hotovo</button>