<div #wrapper contenteditable='false' class='positionRelative inlineBlock'>
  <div *ngIf='!readonly' class='boxDiv' (pointermove)='boxMove($event)'>
      <div #box1 tabindex='1' (pointerdown)="boxClicked($event,'-hvka',1)" (pointerup)='boxReleased($event)' class='box box1'></div>
      <div #box2 tabindex='2' (pointerdown)="boxClicked($event,'v')" (pointerup)='boxReleased($event)' class='box box2'></div>
      <div #box3 tabindex='3' (pointerdown)="boxClicked($event,'hvka')" (pointerup)='boxReleased($event)' class='box box3'></div>
      <div #box4 tabindex='4' (pointerdown)="boxClicked($event,'-h')" (pointerup)='boxReleased($event)' class='box box4'></div>
      <div #box5 tabindex='5' (pointerdown)="boxClicked($event,'h')" (pointerup)='boxReleased($event)' class='box box5'></div>
      <div #box6 tabindex='6' (pointerdown)="boxClicked($event,'-h-vka')" (pointerup)='boxReleased($event)' class='box box6'></div>
      <div #box7 tabindex='7' (pointerdown)="boxClicked($event,'-v')" (pointerup)='boxReleased($event)' class='box box7'></div>
      <div #box8 tabindex='8' (pointerdown)="boxClicked($event,'h-vka',6)" (pointerup)='boxReleased($event)' class='box box8'></div>
  </div>
  <img #imgElement style="vertical-align:middle" />
</div>