.boxDiv{
    position: absolute;
    width: 100%;
    height: 100%;
}
.box{
    position: absolute;
    outline:  none;
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
}
.box1{
    left: 0%;
    top: 0%;

    cursor: nw-resize;
}
.box2{
    left: 50%;
    top:0%;
    margin-left: -5px;

    cursor: n-resize;
}
.box3{
    right: 0%;
    top: 0%;

    cursor: ne-resize;
}
.box4{
    left: 0%;
    top: 50%;
    margin-top: -5px;

    cursor: w-resize;
}
.box5{
    right: 0%;
    top: 50%;
    margin-top: -5px;

    cursor: e-resize;
}
.box6{
    left: 0%;
    bottom:0%;

    cursor: sw-resize;
}
.box7{
    left: 50%;
    bottom: 0%;
    margin-left: -5px;

    cursor: s-resize;
}
.box8{
    bottom: 0;
    right: 0%;

    cursor: se-resize;
}