<p class='littleDarker'>
  <button (click)='back()' >nevytor</button>
  nazov: <input type='text' class='txt' name='TestName' placeholder='nazov testu' [(ngModel)]='name'/>
  <label class='marginL15'>
    <input type='checkbox' class='scale2' [(ngModel)]='test.private'/>
    privátny
  </label>
  <label class='marginL15'>
    <input type='checkbox' class='scale2' [(ngModel)]='test.anonym'/>
    anonym
  </label>
</p>

<label class='displayBlock margin5'>
  <input type='checkbox' class='scale2' value='timed' [(ngModel)]='timerUse'/>
  casomiera
</label>
<div *ngIf='test.timer.use'>
  <label class='margin5'>
    <input type='radio' class='scale2' name=timerType [value]='test.timer.countdownType' [(ngModel)]='timerType'/>
    casovac
  </label>
  <label class='margin5'>
    <input type='radio' class='scale2' name='timerType' [value]='test.timer.timerType' [(ngModel)]='timerType'/>
    stopky
  </label>
  <div *ngIf='timerType == test.timer.countdownType'>
    <input type='number' [(ngModel)]='timerTimeInMin'/>
     min
  </div>
</div>

<fieldset class='littleDarker'>
  <legend>
    <button (click)='DimensionsVisible = !DimensionsVisible; detectChanges();' class='smallerBtn'>
      <svg class='char' [@rotate]='detailsVisible2rotation(DimensionsVisible)' role='img' viewBox='0 0 320 512'>
        <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
      </svg>
      &nbsp;&nbsp;&nbsp;&nbsp; Dimenzie
    </button>
  </legend>
  <div *ngIf='DimensionsVisible'>
    <div class='inlineBlock'>
      <input type='text' class='txt' name='newDimension' placeholder='nova dimenzia' #newDimensionInput [(ngModel)]='TempDimesion' (keydown)='addTempDimensionOnEnter($event)' />
      <button (click)='
        addTempDimension();
        newDimensionInput.focus()'>+</button>
    </div>
    <div class='inlineBlock'>
      <ul class='dimensions'>
        <li *ngFor='let dimension of test.dimensions; let i = index' class='dimension verticalMiddle'>
          <span class='leftText'>{{dimension.name}}</span>
          <button *ngIf='!dimension.isMyDim()' class='rightText' (click)='remTempDimension(i)'>-</button> 
        </li>
      </ul>
    </div>
  </div>
</fieldset>

<fieldset class='littleDarker'>
  <legend>
    <button (click)='TempAnswersVisible = !TempAnswersVisible; detectChanges();' class='smallerBtn'>
      <svg class='char' [@rotate]='detailsVisible2rotation(TempAnswersVisible)' role='img' viewBox='0 0 320 512'>
        <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
      </svg>
      &nbsp;&nbsp;&nbsp;&nbsp; Vzory odpovedi
    </button>
  </legend>
  <div *ngIf='TempAnswersVisible'>
    <app-create-answers-cnt-weights [context]='TempAnswers'></app-create-answers-cnt-weights>
    <div class='centerText'>
      <button (click)='addTempAnswers()'>{{addTempAnswerButtonText}}</button> 
    </div>
    <ul>
      <li *ngFor='let tempAnswer of test.tempAnswers; let i = index'>
        <button (click)='insertTempAnswer(tempAnswer)'>{{tempAnswer.templateStr}}</button> 
        <button (click)='remTempAnswer(i)'>-</button>
      </li>
    </ul>
  </div>
</fieldset>

<ng-template #addingStrip let-item='item'>
  <div class='addingStrip'>
    <button (click)='addDescription(item)'>pridaj Popis</button>
    <button (click)='addQuestion(item)'>pridaj Otazku</button> 
  </div>
</ng-template>

<ng-template #reMoveStrip let-item='item'>
  <div class='reMoveStrip'>
    <button class='reMoveStripBtn' (click)='removeItem(item)'>
      <svg role='img' viewBox='0 0 320 512' class='char'>
        <path fill='currentColor' d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'></path>
      </svg>
    </button>
    <button class='reMoveStripBtn' (click)='moveItemUp(item)'>
      <svg role='img' viewBox='0 0 448 512' class='char'>
        <path fill='currentColor' d='M6.101 261.899L25.9 281.698c4.686 4.686 12.284 4.686 16.971 0L198 126.568V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V126.568l155.13 155.13c4.686 4.686 12.284 4.686 16.971 0l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L232.485 35.515c-4.686-4.686-12.284-4.686-16.971 0L6.101 244.929c-4.687 4.686-4.687 12.284 0 16.97z'></path>
      </svg>
    </button>
    <button class='reMoveStripBtn' (click)='moveItemDown(item)'>
      <svg role='img' viewBox='0 0 448 512' class='char'>
        <path fill='currentColor' d='M441.9 250.1l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L250 385.4V44c0-6.6-5.4-12-12-12h-28c-6.6 0-12 5.4-12 12v341.4L42.9 230.3c-4.7-4.7-12.3-4.7-17 0L6.1 250.1c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'></path>
      </svg>
    </button>
  </div>
</ng-template>

<ng-template #description let-desc='desc'>
  <div class='rtbHolder'>
    <app-rich-text-box class='desc-text' [(text)]='desc.description'></app-rich-text-box>
  </div>
</ng-template>

<ng-template #question let-quest='quest' let-dimensions='dimensions' let-tempAnswers='tempAnswers'>
  <div class='rtbHolder'>
    <div>
      <app-rich-text-box class='quest-text' [(text)]='quest.description'></app-rich-text-box>
    </div>
    <div>
      <label>Dimenzia:</label>
      <select [(ngModel)]='quest.dimension'>
        <option *ngFor='let dimension of dimensions' [ngValue]='dimension'>
          {{dimension.name}}
        </option>
      </select>
      <label class='marginL15'>
        <input type='checkbox' class='scale2' [(ngModel)]='quest.newLetter'/>
        novy list
      </label>
    </div>
    <div class='centerText'>
      <button class='outlineNone' (click)='quest.questionDetailsVisible = !quest.questionDetailsVisible; detectChanges();'>
        <svg class='char' [@rotate]='detailsVisible2rotation(quest.questionDetailsVisible)' role='img' viewBox='0 0 320 512'>
          <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
        </svg>
        &nbsp;&nbsp;&nbsp;&nbsp; odpovede
      </button>
    </div>
    <div *ngIf='quest.questionDetailsVisible' class='centerText'>
      <div>
        <label>prebrat vzor odpovedi:</label>
        <select [(ngModel)]='quest.answersTemplate'>
          <option *ngFor='let tempAnswer of test.tempAnswers' [ngValue]='tempAnswer'>
            {{tempAnswer.templateStr}}
          </option>
        </select>
      </div>
      <app-create-answers-cnt-weights [context]='quest.answers'></app-create-answers-cnt-weights>
    </div>
  </div>
</ng-template>


<ng-container *ngTemplateOutlet='addingStrip; context:{item: undefined}'></ng-container>
<ng-container *ngIf='test?.items?.length > 0'>
  <ng-container *ngFor='let testItem of test.items'>
    <div class='itemFrame'>
      <ng-container *ngIf='testItem.ItemType == "desc"'>
        <ng-container *ngTemplateOutlet='description; context:{desc: testItem}'>
        </ng-container>
      </ng-container>
      <ng-container *ngIf='testItem.ItemType == "quest"'>
        <app-creating-question [quest]='testItem' [test]='test'
        [dimensions]='test.dimensions' [tempAnswers]='test.tempAnswers'>
        </app-creating-question>
      </ng-container>

      <ng-container *ngTemplateOutlet='reMoveStrip; context:{item: testItem}'>
      </ng-container>
    </div>
    <ng-container *ngTemplateOutlet='addingStrip; context:{item: testItem}'>
    </ng-container>
  </ng-container>
</ng-container>

<input type='text' class='txt' name='wholeContent' placeholder='whole content' [(ngModel)]='contentOfTest'/>
<button class='outlineNone' (click)='insertContent()'>
  insert
</button>