.itemFrame{
    margin: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #5a5a5a;
    background-color: #2d2d2da2;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.addingStrip{
    border-style: solid;
    border-width: 0.5px;
    border-color: #5a5a5a;
    /*background-color: #2d2d2d;*/
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
}
.reMoveStrip{
    vertical-align: top;
    display: inline-block;
    width: 70px;
}
.reMoveStripBtn{
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
.rtbHolder{
    width: calc(100% - 70px);
    display: inline-block;
}
.desc-text{
    height: 100px;
    width: calc(100% - 10px);
}
.quest-text{
    height: 50px;
    width: calc(100% - 10px);
}
.question-template{
    border-style: solid;
    border-width: 0.5px;
    border-color: #5a5a5a;
}
