.inlineBlock{
    display: inline-block;
}
.positionAbsolute{
    position: absolute;
}
.positionRelative{
    position: relative;
}
.borderBox{
    box-sizing: border-box;
}
button{
    background-color: rgb(82, 82, 82);
    border: rgb(82, 82, 82) 1px solid;
    color: rgb(207, 207, 207);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 5px;
    outline: none;

    transform-origin: 50%;
    transition-property: box-shadow, border, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
button:hover{
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 30px 0px rgb(61, 61, 61);;
    border: 1px solid rgb(117, 117, 117);
    transform: scale(1);
}