<div #mainWrapper class='mainWrapper'>
  <div class='groups fontSize0'>
    <app-num-group (onCreate)='onNumCreate($event)' (onValidate)='onNumValidate($event)' (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="0" col="0"></app-num-group>
    <app-num-group (onCreate)='onNumCreate($event)' (onValidate)='onNumValidate($event)' (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="0" col="1"></app-num-group>
    <app-num-group (onCreate)='onNumCreate($event)' (onValidate)='onNumValidate($event)' (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="0" col="2"></app-num-group>

    <app-num-group (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="1" col="0"></app-num-group>
    <app-num-group (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="1" col="1"></app-num-group>
    <app-num-group (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="1" col="2"></app-num-group>

    <app-num-group (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="2" col="0"></app-num-group>
    <app-num-group (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="2" col="1"></app-num-group>
    <app-num-group (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" class="group borderBox inlineBlock" row="2" col="2"></app-num-group>
    <br/>
   <!-- -->
  </div>
  <div class="inlineBlock">
    <button (click)="createGameClicked(0)">vytvor ulohu</button>
    <button (click)="createGameClicked(1)">vytvor ulohu t</button>
    <button (click)="createGameClicked(2)">vytvor ulohu tt</button>

    <button (click)="solvingClicked()">vyries</button>
    <button (click)="clearClicked()">cisti ulohu</button>
    <button (click)="clearAllClicked()">cisti vsetko</button>
    <button (click)="toggleBuildSolve()" class="marginTop" [disabled]="buildSolveBtnDisabled">{{buildBtnText}}</button>
    <button (click)="toggleWantHave()" class="marginTop" [disabled]="buildWantHaveDisabled">{{wantHaveBtnText}}</button>
    <button (click)="coto()">co som vytvoril</button>
  </div>
  <div class="border maxWidth">{{bfInfo}}</div>
  <div class="border maxWidth">{{q1}}</div>


  <div [style.display]="winVisibility" class="win">vyhral</div>
</div>
