.fontSize0{
    font-size: 0px;
}
.mainWrapper{
    width: 100%;
}
.win{
    position: absolute;
    top: 230px;
    text-align: center;
    font-size: 6em;
    width: 100%;
    z-index: 10;
}
.displayInline{
    display: inline;
}
.popis{
    word-break: break-all;
}
.groups{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    
    background-color: rgba(71, 71, 71, 0.6);
    box-shadow: 0px 0px 80px 0px rgb(54, 62, 46);
}
.group{
    width: 30%;
    padding-bottom: 30%;
    position: relative;
}

