<section>
  <div class='overHidden textWrapper header' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <h1 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Obrázke
      </h1>
    </div>
  </div>
  <div class='overHidden textWrapper' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Tu by sa patrilo nejakú galériu lebo čo by to už bola za stránka bez parádovsky funkčnej galérie.
      </p>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Túto časť som napisal v angulari úplne od nuly. Jednu 
        <a target='_blank' rel='noopener noreferrer' href='https://www.npmjs.com/package/angular2-image-gallery'>galériu</a>
        (tu <a target='_blank' rel='noopener noreferrer' href='https://oidamo.de/gallery-demo.html'>hľa</a> je jej demo) ktorá sa mi páčila,
        som našiel na nete ale angular má asi ťažkosti so zobrazovaním tej galérie v elementoch ktoré
        sú vložené v stránke a pri jej inite sú zneviditeľnené.
      </p>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        <a target='_blank' rel='noopener noreferrer' href='https://www.npmjs.com/package/ngx-image-gallery'>Tu</a> som zase videl inú galériu
        (bolo to už neskoro, lebo som mal moju takmer hotovú) a podľa náhľadu sa mi celkom páčili
        thumbnaily pod akurát otvoreným obrázkom. Tak som si spravil.
      </p>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Počas vytvárania náhrady som prišiel na to, že html nevie zobrazovat fixed elementy v elementoch
        ktoré mali nastavený transition(transform). Potom ich zobrazuje ako relative.
      </p>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Možno kôli tomu to nechcelo isť, ale už som mal celkom rozpracovanú svoju verziu. Takže nakoniec
        som ju aj použil. Okrem toho že je super, je aj najlepšia na svete.
      </p>
    </div>
  </div>


  <div class='overHidden textWrapper' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        aké fotke  si dáme?
      </p>
      
      <button *ngFor='let gallery of galleries' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'
        (click)='setGallery(gallery.path)'>{{gallery.name}}</button>
    </div>
  </div>
  
   <div class='overHidden textWrapper' [ngClass]='compactSubClass'>
    <div class='overlayColorAndNoBorder font0' style='padding: 0' [ngClass]='compactSubClass'>
      <gallery class='displayInlineBlock font0 width100' [ngClass]='compactSubClass' imgMarginPx='1' (pathChange)='updateRouterWithPath($event)'
      [compact]='galleryCompact' [galleryScale]='galleryScale' [galleryName]='galleryName' [(openedImage)]='openedImage'>
      </gallery>
    </div>
  </div>
  
  <!--  [flexImageSize]="7"
    [maxRowsPerPage]="100"
  </gallery>-->
  
  <div class='overHidden textWrapper' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Galéria podporuje iba jednu úroveň kompaktnosti. Ak zmenšíte okno prehliadača (zúžite) pod 525px,
        tak sa zrušia okrúhle thumbnaily pod otvoreným obrázkom.
      </p>
    </div>
  </div>

  <add-comment class='width100' [ngClass]='compactSubClass' table='gallery'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></add-comment>
</section>