<div class='rtbHolder'>
  <div>
    <app-rich-text-box class='quest-text' [(text)]='quest.description'></app-rich-text-box>
  </div>
  <div>
    <label>Dimenzia:</label>
    <select [(ngModel)]='quest.dimension'>
      <option *ngFor='let dimension of dimensions' [ngValue]='dimension'>
        {{dimension.name}}
      </option>
    </select>
    <label class='marginL15'>
      <input type='checkbox' class='scale2' [(ngModel)]='quest.newLetter'/>
      novy list
    </label>
  </div>
  <div class='centerText'>
    <button class='outlineNone' (click)='quest.questionDetailsVisible = !quest.questionDetailsVisible; detectChanges();'>
      <svg class='char' [@rotate]='detailsVisible2rotation(quest.questionDetailsVisible)' role='img' viewBox='0 0 320 512'>
        <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
      </svg>
      &nbsp;&nbsp;&nbsp;&nbsp; odpovede
    </button>
  </div>
  <div *ngIf='quest.questionDetailsVisible' class='centerText'>
    <div>
      <label>prebrat vzor odpovedi:</label>
      <select [(ngModel)]='answersTemplate'>
        <option *ngFor='let tempAnswer of test.tempAnswers' [ngValue]='tempAnswer'>
          {{tempAnswer.templateStr}}
        </option>
      </select>
    </div>
    <app-create-answers-cnt-weights [context]='quest.answers'></app-create-answers-cnt-weights>
  </div>
</div>