<section>
    <div *slideMenuShow='toDo == EKUrl' class='width100'>
        <div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
            <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
                <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.nuget.org/packages/Dubacik22.EnginKalkulatorowy/' style='font-size: 25px'>
                        NuGet-ka
                    </a>
                </p>
                <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <a target="_blank" rel="noopener noreferrer" href='https://bitbucket.org/dubacik22/restsolutions/src/master/Source/EnginKalkulatorowy/' style='font-size: 25px'>
                        zdroják
                    </a>
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Knižnica pre riešenie refreshu výpočtov (volaní) metód pri zmene ich vstupných parametrov.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Knižnica má dokončený IBA neoptimalizovaný mód (ukázal sa byť rýchlejší).
                    V neoptimalizovanom móde sa spúštajú výpočty v poradí interne vytvorenom počas inicializácie EK (skôr inicializovaný vzorec sa refreshne skôr).
                    EK v tomto móde čaká na OnPropertyChanged nainicializovaných objektov a v prípade, ak nájde metódu ktorá je závislá od zmenenej property, tak ju spustí.
                    EK si vytvára stack metód ktoré je potrebné spustiť a snaží sa v rámci možností (vytvoreného stacku) zamedziť opakovanému spusteniu metód.
                    EK, podľa priority, v prípade potreby spustenia metódy ktorá sa už nachádza v stacku, tuto metódu presunie na začiatok stacku, ponechá ju na mieste, alebo ju presunie na jeho koniec.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    v EK je potrebné inicializovať metódy pomocou metódy
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <textarea class='width100 code' [ngClass]='compactSubClass' style='height: 30px'>
void Add(EKEquation equation, EKProperty output, EKProperty input1, EKProperty input2, EKProperty input3, ...)
                    </textarea>
                </p>
                <button class='textLeft smallerBtn' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'
                (click)='showItem(EKEquationUrl)'>EKEquation</button>
                <button class='textLeft smallerBtn' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'
                (click)='showItem(EKPropertyUrl)'>EKProperty</button>

                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    V neoptimalizovanom móde EK nepouživa output propertu, preto je možné inicializovať aj komplikovanejšie metódy ktoré menia viac výstupnych properiet naraz. Vtedy stačí nastavit ako výstupnu propertu hocičo:
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <textarea class='width100 code' [ngClass]='compactSubClass' style='height: 260px'>
public bool Dummy { get; set; }
void SetChangeDummy()
{
    var eq = new EKEquation(changeDummy, true);
    EKProperty oekp = new EKProperty("Dummy", this);
    EKProperty p1ekp = new EKProperty("p1", this);
    EKProperty p2ekp = new EKProperty("O1.p2", this);
    EK.Add(eq, oekp, isokekp); //máme nastavený force, co môže viest ku exception ak bude O1==null a nebude to v samotnej metóde ošetrené
}
void ChangeDummy(EKPropertyChangedEventArgs ea)
{
    LP1 = p1;
    LP2 = p1+O1.p2; //&lt;- tu môže vzniknúť problém ak pocas inicializacie EK nebude nastavený O1
    ...
}
                    </textarea>
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    V tomto prípade EK spustí changeDummy pri zmene p1 alebo O1 alebo p2. Táto metóda zmení rôzne property, na ktoré EK počúva. AK sa nájde metóda ktorá je závislá od zmenených properiet, tak ich EK spusti.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    EK do spustených metód vkladá EKPropertyChangedEventArgs (kuk EKPropertyChangedEventArgsReadme)
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    EK je možné pauznut a znovu spustit:
                    EK.Pause(); - pozastaví automaticky prepočet vzorcov, iba si ich ukladá do stacku. Pauzovanie je aditívne, takže pre 3 volania pause je nutné 3x zavolať start
                    EK.Start(force); - znizi počítadlo a ak sa vynuluje tak prepočíta stack. V prípade ak force==true, tak sa resetne pauzové počítadlo, takže vynúti prepočet stacku
                    !!! Pri vytvorení EK je tento EK automaticky pauznutý. takže ak sa po jeho vytvorení ihneď aj inicializuje, tak sa všetky metódy ktoré majú nastavené "recalculate" (alebo aj "force") nepočítajú, ale sa ukladáju do stacku.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    v prípade potreby je možné odinicializovať metódu. týmto sa odstrania listenery ktoré počúvaju na property tejto metódy.
                    void remove(EquationFunc equation)
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    EK.Verbose nastavuje výrečnost EK. AK je verbose==true, tak EK loguje viac hlášok o tom, aká properta sa práve zmenila a aký vzorec sa práve prepočítava atď.. Loguje sa pomocou kniznice logger do logov (trace-ovych) ktoré vytvorila aplikácia.
                    EK.VerboseMessages nastavuje správy ktoré chcem vo verbose móde logovať
                </p>

                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    --optimalizovaný mód sa snažil vytvoriť refresh reťazec pre každú propertu ktorá sa nachádzala v EK. Toto vytváranie optimálnych reťazcov bolo veľmi zdĺhave.
                    komplikácie boli pri hladaňi properiet ktoré mali byť rovnaké (o2."o3.p1" == o1."o2.o3.p1") vtedy bolo potrebné prehladať zhody medzi všetkými propertami a v prípade zmeny regenerovať refresh reťazec.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    čo sa týka thread-safety:
                    mal by byť safe.
                    Celý stack počíta vlákno ktoré spustí počítanie.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    EnginKalkulatorowyWThreading by mal spušťať vzorce v osobitnom threade (počítajú sa ale za radom, počítačíe vlákno ale už nieje vlákno ktoré spustilo počítanie)
                    EnginKalkulatorowyWThreading potrebuje synchronizationContext do konštruktora.Ttento sa potom posiela do jednotlivych vzorcov cez eventArgs
                    zatiaľ je vytvorený a zbežne otestovaný. Takže opatrne
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    update 10.10.2017:
                    upravený Namespace na Kalkulatorowanie
                    EK spušťa prepočet v osobitnom vlákne.
                    Konštruktor EK potrebuje SynchronizationContent, ktorý sa potom posiela do EKPropertyChangedEventArgs. Týmto (ak do konštruktoru pošlem synchronizationContent hlavného vlákna) možu metódy ktoré spusti EK (už v osobitnom vlákne) zasahovať do hlavného vlákna (ak napriklad treba upravit propertu UI atď).
                    Celý EK by mal odolať concurrent prístupom (upravené sú iba public metódy).
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    update 10.10.2017:
                    pridaný EnginKalkulatorowyWThreading
                </p>
            </div>
        </div>
    </div>
    <div *slideMenuShow='toDo == EKEquationUrl' class='mainItem width100'>
      <EKEquation [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></EKEquation>
    </div>
    <div *slideMenuShow='toDo == EKPropertyUrl' class='mainItem width100'>
      <EKProperty [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'
      [(toDo)]='toDo'></EKProperty>
    </div>
    <div *slideMenuShow='toDo == EKIKalkulatorowaciaKlassaUrl' class='mainItem width100'>
      <EKIKalkulatorowaciaKlassa [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></EKIKalkulatorowaciaKlassa>
    </div>
</section>
