.match{
    width: 20%;
}
.history{
    width: 70%;
}
.addButton{
    margin-left: 20px;
}
.input{
    width: 15em;
    padding-top: 5px;
    padding-bottom: 5px;
}
.showBtn{
    margin-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
}