<div class='positionRelative'>
    <button class='positionAbsolute smallerBtn' (click)='selectColor($event)'>fabra</button>
    <doodle-canvas [lineColor]='color' class='positionAbsolute'>
    </doodle-canvas>
</div>