p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.textWrapper.nonCompact{
    width: 40%;
}
.ml6.nonCompact{
    margin-left: 6%;
}
.ml30.nonCompact{
    margin-left: 30%;
}
.ml55.nonCompact{
    margin-left: 55%;
}