<section>
  <div class='overHidden textWrapper header' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <h1 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Voľačo inteligentné o mne.
      </h1>
    </div>
  </div>
  <div class='overHidden textWrapper ml6' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Kedysi som bol normálny a rozumný človek.. 
        A hlavne nezaujímavý, ale prišlo mi to trochu nudné, 
        tak som sa v gruzínsku rozje*al a ochrnul som. Síce som s tým nič nevyriešil, 
        ale aspoň som si narobil za hŕstku problémov a 
        pooriadnym otrasom mozgu som si zplieskal IQ o aspoň 98%.
      </p>
    </div>
  </div>
  <div class='overHidden textWrapper ml30' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        Od kamarátky som bol sprdnutý, že tu musím dať niečo pekné.
        Tak:&nbsp;<span class='fontBold'><a target='_blank' rel='noopener noreferrer' href='https://lmgtfy.com/?q=nieco+pekne'>niečo pekné</a></span>.
        <br/>
        A ešte jedna naozaj veľmi dôležitá vec: ako človek mám úžasTnú hodnotu.
      </p>
    </div>
  </div>
  <div class='overHidden textWrapper ml55' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
      <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
        To je asi všetko rozumné o mne. Okrem toho tu môžem spomenúť množstvo zbytočností, ako napr: 
        Som napríklad najlepší človek vo vesmíre, viem okrem všetkého ešte trošku viac, 
        svet môže ľen smútiť a nariekať že žijem len raz (asi) a potom moja existencia skončí (asi).
      </p>
    </div>
  </div>
</section>