.wrapper{
    position: relative;

    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(85, 85, 85);
    font-family: courier, sans-serif;
    box-shadow: 1px 1px 2px #333;
}
.btnWrapper{
    right: 15px;
    bottom: 15px;
    z-index: 2;
}
.btn{
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.valHolder{
    min-height: 5em;
    margin:1em;
    z-index: 1;
}
.valHolder:focus {
    outline:none;
}