<div class="wrapper" #wrapper>
    <div #valHolder spellcheck="false" contentEditable="true" class="valHolder"
        (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)"
        (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
        <div>
            <span><br></span>
        </div>
    </div>
    <div class="btnWrapper" *ngIf='buttonsVisible'>
        <button class="btn" (click)="addBoldGlyph()">bold</button>
        <button class="btn" (click)="addItalicGlyph()">italic</button>
        <button class="btn" (click)="addSubGlyph()">subs</button>
        <button class="btn" (click)="addSupGlyph()">super</button>
        <button class="btn" (click)="addBiggerGlyph()">bigger</button>
        <button class="btn" (click)="addSmallerGlyph()">smaller</button>
        <button class="btn" (click)="addRedGlyph()">red</button>
        <button class="btn" (click)="addGreenGlyph()">green</button>
        <button class="btn" (click)="addImg()">img</button>
            <input style="display: none" #imgSelector type="file" accept='image/*' (change)="openImg($event)"/>
        <button class="btn" (click)="divide()">divide</button>
        <button class="btn" (click)="show()">show</button>
    </div>
</div>