<section>
    <div class='width100'>
        <div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
            <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
                <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.nuget.org/packages/Dubacik22.ObservableDictionary/' style='font-size: 25px'>
                        NuGet-ka
                    </a>
                </p>
                <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <a target="_blank" rel="noopener noreferrer" href='https://bitbucket.org/dubacik22/restsolutions/src/master/Source/ObservableDictionary/' style='font-size: 25px'>
                        zdroják
                    </a>
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Niečo podobné ako ObservableCollection.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Ale obsahuje KeyValues a hladá Values podľa Key. Principiálne by sa malo chovať ako kombinácia ObservableCollection a Dictionary.
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Typ Key je výhradne string kvôli hľadaniu. Dictionary je urobený tak, aby mohol obsahovať veľké množtvo KeyValue. Preto ukladá. Library have this dictionaries: ObservableStringDictionary ObservableStringHashTable ObservableStringSortedDictionary MoreObservableStringDictionary
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Ak sa vo vzorci nachádza funkcia, tak ju parser získa pomocou fetchera "FetchFunction". Tento fetcher musí vrátiť triedu IFunction ktorá musí mať metódu
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <textarea class='width100 code' [ngClass]='compactSubClass' style='height: 30px'>
double Calculate(IEnumerable&lt;object&gt; arguments)
                    </textarea>
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Spomínané fetchere sú len obyčajné delegáty typu:
                </p>
                <div scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <p class='textLeft floatLeft code' [ngClass]='compactSubClass'>
Func&lt;string, IFunction&gt;
                    </p>
                    <div class='textLeft floatLeft marginTopBottom' style='margin-left: 10px'>pre vracanie funkcií</div>
                </div>
                <div class='clearBoth'></div>
                <div scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <p class='textLeft floatLeft code' [ngClass]='compactSubClass'>
Func&lt;string, IGetVariable&gt;
                    </p>
                    <div class='textLeft floatLeft marginTopBottom' style='margin-left: 10px'>pre vracanie premenných</div>
                </div>
                <div class='clearBoth'></div>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    Tu je vytiahnutý UnitTest Equationera nech vidno čo vie parsovať
                </p>
                
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <textarea class='width100 code' [ngClass]='compactSubClass' style='height: 130px'>
public class DummyFunc : IFunction
{
    public object Calculate(IEnumerable<object> arguments)
    {
        return arguments.First();
    }
}
                    </textarea>
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <textarea class='width100 code' [ngClass]='compactSubClass' style='height: 80px'>
public class DummyValue : IGetVariable
{
    public object Variable { get => double.NaN; }
}
                    </textarea>
                </p>
                <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                    <textarea class='width100 code' [ngClass]='compactSubClass' style='height: 4000px'>
[TestClass]
public class UnitTest1
{
    private EquationParser parser;
    public EquationParser Parser
    {
        get
        {
            if (this.parser is object) return this.parser;
            this.parser = new EquationParser
            {
                FetchFunction = name => new DummyFunc(),
                FetchVariable = name => new DummyValue(),
            };
            return this.parser;
        }
    }
    [TestMethod]
    public void TestEq01()
    {
        var ret = this.Parser.Parse("(true) ? (4 lt 5) ? 1 : 2 : 3");
        Assert.AreEqual(1.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq02()
    {
        var ret = this.Parser.Parse("(True) ? (4 lt 5) ? 1 : 2 : 3");
        Assert.AreEqual(1.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq03()
    {
        var ret = this.Parser.Parse("(false) ? (4 lt 5) ? 1 : 2 : 3");
        Assert.AreEqual(3.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq04()
    {
        var ret = this.Parser.Parse("(False) ? (4 lt 5) ? 1 : 2 : 3");
        Assert.AreEqual(3.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq05()
    {
        var ret = this.Parser.Parse("(true) ? (4 lt 4) ? 1 : 2 : 3");
        Assert.AreEqual(2.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq06()
    {
        var ret = this.Parser.Parse("(True) ? (4 lteq 4) ? 1 : 2 : 3");
        Assert.AreEqual(1.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq07()
    {
        var ret = this.Parser.Parse("(true) ? (4 gt 4) ? 1 : 2 : 3");
        Assert.AreEqual(2.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq08()
    {
        var ret = this.Parser.Parse("(true) ? (4 gteq 4) ? 1 : 2 : 3");
        Assert.AreEqual(1.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq09()
    {
        var ret = this.Parser.Parse("(4 gteq 4)");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq10()
    {
        var ret = this.Parser.Parse("4 gteq 4");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq11()
    {
        var ret = this.Parser.Parse("5 lteq 4");
        Assert.AreEqual(false, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq12()
    {
        var ret = this.Parser.Parse("4 lteq 4");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq13()
    {
        var ret = this.Parser.Parse("3 gteq 4");
        Assert.AreEqual(false, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq14()
    {
        var ret = this.Parser.Parse("4 gteq 4");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq15()
    {
        var ret = this.Parser.Parse("4 lt 4");
        Assert.AreEqual(false, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq16()
    {
        var ret = this.Parser.Parse("3 lt 4");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq17()
    {
        var ret = this.Parser.Parse("4 gt 4");
        Assert.AreEqual(false, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq18()
    {
        var ret = this.Parser.Parse("4 gt 1");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq19()
    {
        var thrown = false;
        try
        {
            var ret = this.Parser.Parse("4 fd 4");
        }
        catch (Exception)
        {
            thrown = true;
        }
        Assert.AreEqual(true, thrown);
    }
    [TestMethod]
    public void TestEq20()
    {
        var ret = this.Parser.Parse("'4'");
        Assert.AreEqual("4", ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq21()
    {
        var ret = this.Parser.Parse("(true) and ('qw' == 'Následné overenie')");
        Assert.AreEqual(false, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq22()
    {
        var ret = this.Parser.Parse("4+5*(2-2)");
        Assert.AreEqual(4.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq23()
    {
        var ret = this.Parser.Parse("-4.10586243451957E-08");
        Assert.AreEqual(-4.10586243451957E-08, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq24()
    {
        var ret = this.Parser.Parse("-4.10586243451957E-08 lteq 2");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq25()
    {
        var ret = this.Parser.Parse("(4>5)==false");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq26()
    {
        var ret = this.Parser.Parse("4<=5");
        Assert.AreEqual(true, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq27()
    {
        var ret = this.Parser.Parse("(4+2)");
        Assert.AreEqual(6.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq28()
    {
        var ret = this.Parser.Parse("-(4+2)");
        Assert.AreEqual(-6.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq29()
    {
        var ret = this.Parser.Parse("-1.2 * f(v)");
        Assert.AreEqual(double.NaN, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq30()
    {
        var ret = this.Parser.Parse("(v) ? 1 : (v > 1) ? 's' : f(v, 2)");
        Assert.AreEqual(double.NaN, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq31()
    {
        var ret = this.Parser.Parse("( 'a' +'a')");
        Assert.AreEqual("aa", ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq32()
    {
        var ret = this.Parser.Parse("('aa'== ( 'a' +'a') ) ? ( 4 + 8) : true");
        Assert.AreEqual(12.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq33()
    {
        var ret = this.Parser.Parse("!( 'a' +'a')");
        Assert.AreEqual(null, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq34()
    {
        var ret = this.Parser.Parse("!(( 'a' +'a')=='aa')");
        Assert.AreEqual(false, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq35()
    {
        var ret = this.Parser.Parse("2^3");
        Assert.AreEqual(8.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq36()
    {
        var ret = this.Parser.Parse("2^-3");
        Assert.AreEqual(0.125, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq37()
    {
        var ret = this.Parser.Parse("(2+1)^3");
        Assert.AreEqual(27.0, ret.GetCalculatedValue());
    }
    [TestMethod]
    public void TestEq38()
    {
        var thrown = false;
        try
        {
            var ret = this.Parser.Parse("f(v) + f(v) ");
        }
        catch (Exception)
        {
            thrown = true;
        }
        Assert.AreEqual(false, thrown);
    }
                    </textarea>
                </p>
            </div>
        </div>
    </div>
</section>
