.bkg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: -1
}
.strip{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(60, 66, 50);
}
.menuUlWrapper{
    font-family: 'Mogra';
    background-color: rgb(60, 66, 50);
    border: #000 solid 1px;
}
.menuUlWrapper.nonCompact{
    position: relative;
    z-index: 100;
}
.menuUl{
    margin: 0;
    padding: 0;
}
.menuUl.nonCompact{
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
.menuLi{
    transition-property: box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.menuLi.nonCompact {
    display: inline-block;
    border-right: 1px solid rgb(78, 82, 74);
    border-left: 1px solid rgb(78, 82, 74);
    margin-left: -1px;
}
/*.menuLiNonCompact:last-child {
    border-right: none;
}*/

.menuLi.compact {
    display: block;
    border-top: 1px solid rgb(78, 82, 74);
    border-bottom: 1px solid rgb(78, 82, 74);
    margin-top: -1px;
}
.menuLi.mini {
    font-size: 10px;
    height: auto;
    vertical-align: bottom;
}
.menuLi.active {
    box-shadow: 0px 0px 30px 5px rgb(21, 24, 18), inset 0px 0px 30px 0px rgb(21, 24, 18);
}
.menuLi:hover {
    box-shadow: 0px 0px 10px 5px rgb(21, 24, 18), inset 0px 0px 20px 0px rgb(21, 24, 18);
}
.menuButton {
    display: block;
    margin-right: 0;
    margin-left: auto;
    border: #000 solid 1px;
    background-color: rgb(60, 66, 50);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 100;
    width: 35px;
    height: 35px;
}
span {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
span.mini {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}
a {
    color: rgb(221, 230, 211);
    display: block;
}
a.active {
    color: rgb(242, 245, 239);
}
