<div #menuBkg class='bkg displayNoneImportant' (click)='toggleMenuWrapper()'></div>
<div>
  <button #menuButton (click)='toggleMenuWrapper()' class='menuButton displayNoneImportant'>
    <svg role='img' viewBox='0 0 448 512' >
      <path fill='currentColor' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'></path>
    </svg>
  </button>
  <div #menuButtonWrapperStrip class='strip displayNoneImportant'></div>
  <div #menuUlWrapper class='menuUlWrapper' [ngClass]='compactSubClass'>
    <nav>
      <ul #menuUl class='menuUl' [ngClass]='compactSubClass'>
        <li *ngFor='let item of innerMenus'
        class='cursorPointer menuLi' [ngClass]='[compactSubClass, item.activeSubClass, item.miniSubclass]'>
          <a (click)='menuItemClicked(item)' [ngClass]='item.activeSubClass'>
            <span [ngClass]='item.miniSubclass'>{{item.displayName}}</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class='clearBoth'></div>
  </div>
  <div #menuCompactizeStrip class='strip displayNoneImportant'></div>
</div>