<div class='mainWrapper textCenter'>
  <header>
    <div class='z4 header' *ngIf='!compact && !ultraCompact' [ngClass]='[compactSubClass, animatingMenuSubclass]'
      FixedScrollable [fsLastScroll]='200' [fsFirstPos]='8' [fsLastPos]='0'
      [fsFirstHeight]='headerFirstHeight' [fsLastHeight]='headerLastHeight'>
    </div>
    <div class='positionAbsolute z6 font10 creator' [ngClass]='compactSubClass'
      scrollableStyles [ssHeight]='creatorSSHeight' ssStyleUntil='blackColor' ssStyleAfter='whiteColor'
      FixedScrollable fsLastScroll='190' [fsLastPos]='creatorLastScroll'>
      &copy; Tomáško
    </div>
    <div class='positionAbsolute z6 loggedCircle grayColor' [ngClass]='compactSubClass'
      scrollableStyles [ssHeight]='creatorSSHeight' ssStyleUntil='witoutCreator' ssStyleAfter='withCreator'
      FixedScrollable fsLastScroll='200' [fsLastPos]='creatorLastScroll-3' [fsFirstPos]='firstMenuPos+15'>
      <span class='dot' [ngClass]='(session.isLogged())?"green":"gray"'></span>
    </div>
    <div class='positionAbsolute z5 mainHeading blackColor fontBold' *ngIf='!compact && !ultraCompact'
      [ngClass]='[compactSubClass, animatingMenuSubclass]'
      FixedScrollable fsLastScroll='190' fsFirstPos='35' [fsLastPos]='compact?undefined:20'>
      Taká moja malá testovacia stránka
    </div>
    <app-menu class='positionAbsolute z5 menu' [ngClass]='[compactMenuSubClass, animatingMenuSubclass]'
      [menus]='menuItems' [(toDo)]='toDo' (userToDoClicked)='menuItemChanged()' (compacted)='menuCompactized()'
      [compact]='compact || ultraCompact'
      FixedScrollable fsLastScroll='200' [fsLastPos]='lastMenuPos' [fsFirstPos]='firstMenuPos'>
    </app-menu>
  </header>

  <app-about *slideMenuShow='toDo == aboutUrl'
  class='mainItem' [ngClass]='compactSubClass'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></app-about>
  <app-projects *slideMenuShow='isProjects' [compact]='compact' [ultraCompact]='ultraCompact'
  class='mainItem width100' [ngClass]='compactSubClass' [(toDo)]='toDo'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></app-projects>
  <app-gallery *slideMenuShow='toDo == galleryUrl'
  class='mainItem width100' [ngClass]='compactSubClass'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></app-gallery>
  <add-comment *slideMenuShow='toDo == rtbUrl' 
  class='mainItem width100' [ngClass]='compactSubClass' table='all'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></add-comment>
  <login *slideMenuShow='(toDo == loginUrl) || (toDo == loginOthersUrl)'
  class='mainItem width100' [ngClass]='compactSubClass'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></login>


  <!-- <button class="btn" (click)="openFile()">img</button>
  <input class='displayNoneImportant' #fileSelector type="file" (change)="readFile($event)"/> -->
  <!-- <footer>vyrobil tomasko</footer> -->
</div>

<modalDialog></modalDialog>