.imgWrapper{
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 102;
    background-color: rgba(0, 255, 0, 1);
}
.header{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    left: 8px;
    right: 8px;
    top: 8px;
    overflow: hidden;
    position: absolute;
}
.header.nonCompact{
    height: 150px;
    background-image: url('/assets/imgs/bkgs/headerBkg_blur.png');
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}
.menu.nonCompact{
    left: 8px;
    right: 8px;
    top: 100px;
}
.menu.compact, .menu.ultraCompact{
    top: 16px;
    right: 16px;
    width: auto;
    position: absolute;
}
.creator{
    right: 15px;
}
.creator.nonCompact{
    top: 12px;
}
.creator.compact, .creator.ultraCompact{
    bottom: 10px;
    z-index: -1;
}

.loggedCircle.withCreator{
    right: 70px;
}
.loggedCircle.witoutCreator{
    right: 15px;
}
.loggedCircle.nonCompact{
    top: 12px;
    transition-property: right;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.loggedCircle.compact, .loggedCircle.ultraCompact{
    bottom: 7px;
    right: 70px;
    z-index: -1;
}
.mainHeading{
    font-size: 30px;
    font-family: Oxygen, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 1px 0 #fff, 0px 0px 20px #000, 0px 0px 20px #000, 0px 0px 20px #000;
}
.mainHeading.nonCompact{
    top: 35px;
    left: 35px;
}
.mainWrapper{
    width: 100%;
    height: 100%;
}
.mainItem{
    left: 0;
    position: absolute; /*musi byt. inac poloyka pri animacii poskoci*/
}
.mainItem.nonCompact{
    padding-top: 160px;
}
.mainItem.compact, .mainItem.ultraCompact{
    padding-top: 10px;
}