<div class='nicelyDissapear' style='color: brown'
scrollableStyles ssHeight='400' ssStyleUntil='opacity1' ssStyleAfter='opacity0'>
    <div class='positionFixed z6' style='z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 80px; font-weight: bold; font-size: xx-large;'
    FixedScrollable fsLastScroll='300' fsLastPos='10' fsFirstPos='190'>
        text
    </div>
    <div class='positionFixed z6' style='z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 160px; font-weight: bold; font-size: xx-large;'
    FixedScrollable fsLastScroll='100' fsLastPos='10' fsFirstPos='190' >
        text
    </div>
    <div class='positionFixed z6' style='z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 240px; font-weight: bold; font-size: xx-large;'
    FixedScrollable fsLastScroll='250' fsLastPos='200' fsFirstPos='50' >
        text
    </div>
    <div class='positionFixed z6' style='z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 320px; font-weight: bold; font-size: xx-large;'
    FixedScrollable fsLastScroll='100' fsLastPos='200' fsFirstPos='50' >
        text
    </div>
</div>
<div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        <p>
            Tieto 4 'texty' majú nastavenú direktívu 'fixedScrollable'. Pre vyskúšanie je
            potrebné začať scrollovať smerom dole.
        </p>
        <p>
            Prvé dva texty majú kladný scrollovací prírastok
            a posledné dva majú záporný. Ono sa vlastne v samotnej direktíve nastavuje prvotná poloha elementu (ak nieje zadaná,
            tak sa odčíta aktuálna poloha elementu), posledná poloha elementu po odscrollovaní, a poloha finálnej vzdialenosti
            (táto poloha je v prvých dvoch prípadoch väčšia ako prvotná, ale v posledných prípadoch menšia).
        </p>
        <p>
            V uvedených príkladoch tiež vidno ako sa chová ináč nastavená konečná scrollovacia vzdialenosť.
            Táto vzdialenosť je tá, kedy je element vo svojej poslednej polohe. Ale je možné tvrdiť,
            že to je vzdialenosť scrollovania, po akú sa eśte má meniť poloha elementu.
            Potom sa element chová ako 'fixed'.
        </p>
        <p>
            Direktíva nastavuje 'position: fixed' a zároveň nastavuje 'top'. Iba v prípade ak je scrollovacia vzdialenosť
            rovnaká ako vzdialenosť o ktorú sa má na tejto vzdialenosti element odscrollovať (posledna poloha - prvotná poloha),
            tak je počas scrollovania nastavená 'position: absolute' a potom 'position: fixed'.
            Teoreticky by som mohol rovno nastaviť 'position: sticky' ale v prípade, že by som mal niekde pod týmto
            'sticky' elementom niečo 'absolute', tak by tento 'sticky' element nikdy nebol statický.
            Ono je to nejaká feture prehliadačov ale nevel som jej prísť na chuť.
        </p>
    </div>
</div>
<fieldset class='littleDarker' style='margin-top: 80px'>
    <legend style='text-align:left'>
        <button (click)='showCode()' class='smallerBtn'>
            <svg class='char' [@rotate]='detailsVisible2rotation(codeVisible)' role='img' viewBox='0 0 320 512'>
                <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
            </svg>
            Kód
        </button>
    </legend>
    <div *ngIf='codeVisible' class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
            <textarea class='width100 code' [ngClass]='compactSubClass' style='height: 2050px'>
import { Directive, Input, ElementRef, OnInit, AfterViewInit,
OnChanges, SimpleChanges, OnDestroy, HostListener } from '@angular/core';

@Directive({
    selector: '[FixedScrollable]'
})
export class FixedScrollableDirective implements OnChanges, OnInit, AfterViewInit, OnDestroy {//AfterViewChecked
    @Input('fsLastScroll') lastScroll: number;
    @Input('fsFirstHeight') firstHeight: number; //je vhodne nastavovat ak pouzivam animaciu na zmenu vysky
    private innerFirstHeight: number;
    @Input('fsLastHeight') lastHeight: number;
    private innerLastHeight: number;
    @Input('fsFirstPos') firstPos: number; //je vhodne nastavovat ak pouzivam animaciu na zmenu polohy
    private innerFirstPos: number;
    @Input('fsLastPos') lastPos: number;
    private innerLastPos: number;

    @Input('fsVerbose') verbose: boolean = false;

    private initialPosition: string;
    private element: HTMLElement;
    private sameMoveVel: boolean = false;
    private refreshSameMoveVel() {
        let moveRng = -(this.innerLastPos-this.innerFirstPos);
        if ((moveRng == undefined) || (moveRng == this.lastScroll)) this.sameMoveVel = true;
        else this.sameMoveVel = false;
    }
    private changes: MutationObserver;
    constructor(elementRef: ElementRef) {
        this.element = elementRef.nativeElement;
        this.element.style.position = 'absolute';

        this.changes = new MutationObserver((mutations: MutationRecord[]) => {
            mutations.forEach((mutation: MutationRecord)=>{
            if (mutation.attributeName == 'class') {
                this.onElementMovedOrResized();
            }
            });
        }
        );

        this.changes.observe(this.element, {
        attributes: true,
        });

    }
    ngOnInit() {
        if (this.firstPos != undefined) this.innerFirstPos = this.firstPos;
        if (this.lastPos != undefined) this.innerLastPos = this.lastPos;
        if (this.firstHeight != undefined) this.innerFirstHeight = this.firstHeight;
        if (this.lastHeight != undefined) this.innerLastHeight = this.lastHeight;

        if (this.firstPos == undefined) this.refreshSameMoveVel();
        if (this.sameMoveVel) this.initialPosition = 'absolute';
        else this.initialPosition = 'fixed';
        this.element.style.position = this.initialPosition;
    }
    ngAfterViewInit() {
        if (this.firstHeight == undefined) this.innerFirstHeight = this.element.offsetHeight;
        if (this.firstPos == undefined) this.innerFirstPos = this.element.offsetTop;
    }
    ngOnChanges(changes: SimpleChanges) {
        if (changes.lastPos || changes.lastHeight || changes.lastScroll || changes.firstHeight) {
            this.onElementMovedOrResized();
        }
    }
    ngOnDestroy() {
        this.changes.disconnect();
    }
    onElementMovedOrResized() {
        this.element.style.top = '';
        this.element.style.height = '';

        if (this.firstHeight != undefined) this.innerFirstHeight = this.firstHeight;
        else this.innerFirstHeight = this.element.offsetHeight;
        if (this.firstPos != undefined) this.innerFirstPos = this.firstPos;
        else this.innerFirstPos = this.element.offsetTop;

        this.innerLastPos = this.lastPos;
        this.innerLastHeight = this.lastHeight;

        this.refreshSameMoveVel();
        this.scrolled();
    }

    @HostListener("window:scroll", [])
    onElementScroll(event: Event) {
        this.scrolled();
    }
    private stopped: boolean = false;
    scrolled() {
        let scrolledOffset: number = window.scrollY;
        if (this.innerLastPos !== undefined) {
        if (this.sameMoveVel) {
            let elY = this.innerFirstPos-scrolledOffset;
            if (elY < this.innerLastPos) {
            if (!this.stopped) {
                this.element.style.position = 'fixed';
                this.stopped = true;
                this.element.style.top = this.innerLastPos+'px';
            }
            } else {
            if (this.stopped) {
                this.element.style.position = this.initialPosition;
                this.stopped = false;
                this.element.style.top = this.innerFirstPos+'px';
            }
            }
        } else {
            if (scrolledOffset < this.lastScroll) {
                this.element.style.top = (this.innerFirstPos-(this.innerFirstPos-this.innerLastPos)*scrolledOffset/this.lastScroll)+'px';
            } else {
            this.element.style.top = this.innerLastPos+'px';
            }
        }
        }
        if (this.innerLastHeight !== undefined) {
            if (scrolledOffset < this.lastScroll) {
                this.element.style.height = (this.innerFirstHeight-(this.innerFirstHeight-this.innerLastHeight)*scrolledOffset/this.lastScroll)+'px';
            } else {
                this.element.style.height = this.innerLastHeight+'px';
            }
        }
    }

    private trace(msg: any) {
        if (this.verbose) console.log(msg);
    }
}
            </textarea>
        </div>
    </div>
</fieldset>