<div class='positionRelative centerHorizontally width0'>
    <rubiks-sub-cube *ngFor='let subsquareData of subsquaresData'
        [subsquareData]='subsquareData'
        [bkgSquareSize]='subsquareData.bkgLayerSize' [frgSquareSize]='subsquareData.frgLayerSize' [squareColor]='subsquareData.color'
        [fftX]='subsquareData.frgTranslateX' [fftY]='subsquareData.frgTranslateY' [fftZ]='subsquareData.frgTranslateZ'
        [fbtX]='subsquareData.bkgTranslateX' [fbtY]='subsquareData.bkgTranslateY' [fbtZ]='subsquareData.bkgTranslateZ'
        [frX]='subsquareData.firstRotateX' [frY]='subsquareData.firstRotateY' [frZ]='subsquareData.firstRotateZ'
        [srX]='subsquareData.secondRotateX' [srY]='subsquareData.secondRotateY' [srZ]='subsquareData.secondRotateZ'
        [zIndex]='subsquareData.zIndex'

        [trX]='thirdRotationX' [trY]='thirdRotationY'
        [mouseMoveRotationX]='mouseMoveRotationX' [mouseMoveRotationY]='mouseMoveRotationY'
        (subcubeMouseDown)='subcubeMouseDown($event)'
        class='positionAbsolute displayBlock rubikSubCube'>
    </rubiks-sub-cube>
    
</div>

<div class='positionAbsolute' style="height: 500px; width: 600px; margin-left: 250px; margin-top: 200px">
    <svg class='width100 height100 overVisible'>
        <g svg-path [path]='line'
        [stroke]='stroke'></g>

        <circle cx="0" cy="0" r="5" fill="red" />
    </svg>
</div>