.wrapper{
    /*position: relative;*/
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
}
.btnWrapper{
    right: 15px;
    bottom: 15px;
    z-index: 2;
}
.btn{
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.valHolder{
    min-height: 5em;
    margin:1em;
    z-index: 1;
    word-break: break-word;
}
.valHolder:focus {
    outline:none;
}