<div class='wrapper' #wrapper>
    <div #valHolder spellcheck="false" contentEditable="true" class="valHolder"
    (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event); onCursorPosChanged($event)"  (focus)='onCursorPosChanged($event)' (mouseup)='onCursorPosChanged($event)'>
        <div>
            <span><br></span>
        </div>
    </div>
    <div class="btnWrapper" *ngIf='buttonsVisible'>
        <tbutton [(pressed)]='canRemBold' (buttonClicked)='addBold($event)'>bold</tbutton>
        <tbutton [(pressed)]='canRemItalic' (buttonClicked)='addItalic($event)'>italic</tbutton>
        <tbutton [(pressed)]='canRemSubs' (buttonClicked)='addSubs($event)'>subs</tbutton>
        <tbutton [(pressed)]='canRemSuper' (buttonClicked)='addSuper($event)'>super</tbutton>
        <tbutton [(pressed)]='canRemBigger' (buttonClicked)='addBigger($event)'>bigger</tbutton>
        <tbutton [(pressed)]='canRemSmaller' (buttonClicked)='addSmaller($event)'>smaller</tbutton>
        <tbutton [(pressed)]='canRemRed' (buttonClicked)='addRed($event)'>red</tbutton>
        <tbutton [(pressed)]='canRemGreen' (buttonClicked)='addGreen($event)'>green</tbutton>
    </div>
</div>