<div class='nicelyDissapear' style='color: brown'>
    <div class='z6' style='margin: 20px; z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 80px; font-weight: bold; font-size: xx-large;'
    kindaPerspective kpRange='0.25' kpShiftScale='-1' kpRotateScale='2' kpPerspectiveScale='3'>
        text ktorý sa otáča podla polohy myši
    </div>
    <div class='z6' style='margin: 20px; z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 80px; font-weight: bold; font-size: xx-large;'
    kindaPerspective kpRange='0.25' kpShiftScale='1' kpRotateScale='-2'>
        text ktorý sa otáča troška ináč <small>lebo má iné parametre na direktíve</small>
    </div>
</div>
<div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        <p>
            Tento 'text' má nastavenú direktívu 'kindaPerspective'.
        </p>
        <p>
            Táto direktíva nastavuje 'divu' parametre 'rotate', 'translate' a 'perspective' podľa polohy myšky.
            Nulový bod polohy myšky je v strede elementu na ktorom je táto direktíva.
        </p>
    </div>
</div>
<fieldset class='littleDarker' style='margin-top: 80px'>
    <legend style='text-align:left'>
        <button (click)='showCode();' class='smallerBtn'>
            <svg class='char' [@rotate]='detailsVisible2rotation(codeVisible)' role='img' viewBox='0 0 320 512'>
                <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
            </svg>
            Kód
        </button>
    </legend>
    <div *ngIf='codeVisible' class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
            <textarea class='width100 code' [ngClass]='compactSubClass' #ta1 style='height: 1800px'>
import { Directive, HostListener, ElementRef, OnChanges, OnInit, Input, SimpleChanges } from '@angular/core';
import { ElementPos } from './resources'

@Directive({
    selector: '[kindaPerspective]'
})
export class KindaPerspectiveDirective implements OnChanges, OnInit {
    @Input('kpRange') public range: number;
    @Input('kpShiftScale') public shiftScale: number = 1;
    @Input('kpRotateScale') public rotateScale: number = 1;
    @Input('kpPerspectiveScale') public perspectiveScale: number = 1;
    @Input('kpMaxShift') public maxShift: number;
    @Input() public verbose: boolean = false;
    private element: HTMLElement;

    constructor(elementRef: ElementRef) {
        this.element = elementRef.nativeElement;
    }

    ngOnChanges(changes: SimpleChanges) {
    }
    ngOnInit() {
        if (this.range > 1) this.range = 1;
        this.scrolled = window.scrollY;
    }
    private mouseX: number;
    private mouseY: number;
    private scrolled: number;
    @HostListener("document:mousemove", ['$event'])
    onMouseMove(e: MouseEvent) {
        this.mouseX = e.clientX;
        this.mouseY = e.clientY;
        this.setElementPosition(this.mouseX, this.mouseY, this.scrolled);
    }
    @HostListener("window:scroll", [])
    onElementScroll(event:Event){
        this.scrolled = window.scrollY;
        this.setElementPosition(this.mouseX, this.mouseY, this.scrolled);
    }
    setElementPosition(mouseX: number, mouseY: number, scrolled: number) {
        let el: HTMLElement = this.element;
        let offsetLeft: number = 0;
        let offsetTop: number = 0;
        do {
            offsetLeft += el.offsetLeft;
            offsetTop += el.offsetTop;
            //if(this.verbose)console.log(el.offsetLeft+'-'+el.offsetTop)
            el = <HTMLElement>el.offsetParent;
        } while(el);
        //if(this.verbose)console.log('cv '+this.element.clientWidth+'x'+this.element.clientHeight)
        offsetLeft += this.element.clientWidth/2;
        offsetTop += this.element.clientHeight/2-scrolled;

        let mouseDistanceX: number = offsetLeft-mouseX;
        let mouseDistanceXRelativeToWin: number;
        let mouseDistanceY: number = offsetTop-mouseY;
        let mouseDistanceYRelativeToWin: number;
        //if(this.verbose)console.log('md '+mouseDistanceX+'x'+mouseDistanceY)
        //if(this.verbose)console.log('m  '+mouseX+'x'+mouseY)

        //if(this.verbose)console.log('--------------')

        mouseDistanceXRelativeToWin = mouseDistanceX / window.innerWidth;
        mouseDistanceYRelativeToWin = mouseDistanceY / window.innerHeight;

        let yRot: string = this.calcRotation(-mouseDistanceXRelativeToWin).toFixed(1);
        let xRot: string = this.calcRotation(mouseDistanceYRelativeToWin).toFixed(1);
        if (this.verbose) console.log('rot ' + xRot + 'x' + yRot);

        let xMov: number = this.calcMove(-mouseDistanceXRelativeToWin);
        let yMov: number = this.calcMove(-mouseDistanceYRelativeToWin);
        if (this.verbose) console.log('mov ' + xMov + 'x' + yMov);

        let per: number = this.calcPerspective();
        if (this.verbose) console.log('per ' + per);
        
        if (this.maxShift) {
            let movedDist: number = Math.sqrt(xMov / this.range * xMov / this.range + yMov / this.range * yMov / this.range);
            if (movedDist > this.maxShift) {
            let xMovDiv: number = xMov / movedDist;
            let yMovDiv: number = yMov / movedDist;
            xMov = this.maxShift * xMovDiv;
            yMov = this.maxShift * yMovDiv;
            }
        }
        let xMovS: string = xMov.toFixed(1);
        let yMovS: string = yMov.toFixed(1);

        let transform: string = '';
        if (per !== undefined) transform += 'perspective(' + per.toFixed(1) + 'px) ';
        transform += 'translateX(' + xMovS + 'px) translateY(' + yMovS + 'px) ';
        transform += 'rotateX(' + xRot + 'deg) rotateY(' + yRot + 'deg)';
        this.element.style.transform = transform;
    }
    calcRotation(value: number): number {
        value = value * 90;
        value = value * this.range;
        value = value * this.rotateScale;
        return value;
    }
    calcMove(value: number): number {
        value = value * 200;
        value = value * this.range;
        value = value * this.shiftScale;
        return value;
    }
    calcPerspective(): number {
        let value: number = 1 - this.range;
        if (this.perspectiveScale == 0) return undefined;
        value = value * 1000;
        value = value / this.perspectiveScale;
        return value;
    }
}
            </textarea>
        </div>
    </div>
</fieldset>