<div>
  <div *ngFor="let limit of meas.limits" [ngClass]='limit.reachedClass'>
    <label>{{limit.gtlt}}</label>
    <label>{{limit.value}}</label>
    <label> -> </label>
    <label>{{limit.email}}</label>
    <button class="smallerBtn displayInline marginL15" (click)='eraseLimit(limit)'>davaj het</button>
  </div>

  <div>
    <div class="displayInline">
      <label>hodnota:</label>
      <input type='text' [(ngModel)]='value'/>
    </div>

    <div class="displayInlineBlock verticalBottom">
      <div>
        <input class="floatLeft" [id]="gtId" type="radio" [name]="operation" [value]="gt" [(ngModel)]="gtlt"/>
        <label [for]="gtId" class="floatLeft">nesmie byť väčtie</label>
      </div>
      <div>
        <input class="floatLeft" [id]="ltId" type="radio" [name]="operation" [value]="lt" [(ngModel)]="gtlt"/>
        <label [for]="ltId" class="floatLeft">nesmie byť menštie</label>
      </div>
    </div>

    <div class="displayInline marginL15">
      <label>emil:</label>
      <input type='text' [(ngModel)]='email'/>
    </div>
    <button class="smallerBtn displayInline" (click)='addLimit()'>davaj het</button>
  </div>
</div>