<div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
            IKalkulatorowaciaKlassa musi obsahovat propertu ulong? EKObjectLptr {{'{'}} get; set; {{'}'}}
            tuto propertu vyuziva EK pre optimalizaciu prehladavania listov properiet atd Netreba s nou nic robit, len ju treba vytvorit
        </p>
    </div>
</div>
