<div *slideMenuShow='toDo==undefined' class='width100'><!---->
    <div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
            <a target="_blank" rel="noopener noreferrer" href='https://bitbucket.org/dubacik22/kripel/src/master/'
            style='font-size: 25px'>
                zdroják
            </a>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                Stránka má:
            </p>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                Elementy ktoré sa v závislosti odscrollovania stránky polohujú. (akoby sa scrollovali, ale 
                je možné zadať prírastok scrollovanej vzdialenosti. Napríklad záporný, alebo menší ako 1.).
                Napr hlavička za menu, alebo maličký text '&copy; Tomáško' v hlavičke. (directive)
            </p>
            <button class='smallerBtn' (click)='showItem(fixedScrollableUrl)'>kuk</button>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                elementy, ktoré sa v závislosti odscrollovania stránky polohujú do strany.
                Napr tieto texty, keď sa takmer odscrollujú preč. (directive)
            </p>
            <button class='smallerBtn' (click)='showItem(scrollChangeDirUrl)'>kuk</button>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                komponent ktorý simuluje perspektívu. (directive a component)
            </p>
            <button class='smallerBtn' (click)='showItem(kindaPerspectiveDirectiveUrl)'>kuk direktívu</button>
            <button class='smallerBtn' (click)='showItem(kindaPerspectiveComponentUrl)'>kuk komponent</button>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                položy v menu sa plynule presúvjaú (pri prešťuknutí v menu) (directive)
            </p>
            <button class='smallerBtn' (click)='showItem(slideMenuUrl)'>kuk</button>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                stránka sa snaží byť responzívna. To znamená, že pri zmenšovaní okna prehliadača
                (resp. zobrazení na zariadení s iným roylíšením) sa zobrazuje ináč. V tomto prípade podporuje 2 úrovne
                'kompaktnosti'.
            </p>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                Ak je okno prehliadača široké aspoň 900px, tak je stránka normálna. Ak je užšie,
                alebo ak sa zobrazuje stránka na mobilnom zariadení, tak sa odstráni hlavička, zmenší sa menu na
                malý štvorček napravo hore, odstráni sa pozadie týchto textov a ostane tam len štvorček so semi
                transparentnou farbou a presunie sa text '&copy; Tomáško' z hlavičky do päty.
                Keď je okno prehliadača ešte menšie, (pod 525px), tak sa trochu zmení galéria (odstránia sa thumbnaily
                spod otvoreného obrázka) a upraví sa rozloženie textu a tlačítok v položke projekty.
            </p>
            <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
                samotnú galériu bližšie info v <a class="cursorPointer decorationUnderline" (click)='showGallery()' >galérii</a> (component)
            </p>
        </div>
    </div>
</div>
<div *slideMenuShow='toDo==fixedScrollableUrl' class='mainItem width100'>
    <about-fixedScrollable [compactSubClass]='compactSubClass'></about-fixedScrollable>
</div>
<div *slideMenuShow='toDo==scrollChangeDirUrl' class='mainItem width100'>
    <about-scrollChange [compactSubClass]='compactSubClass'></about-scrollChange>
</div>
<div *slideMenuShow='toDo==kindaPerspectiveDirectiveUrl' class='mainItem width100'>
    <about-kindaPerspectiveDirective [compactSubClass]='compactSubClass'></about-kindaPerspectiveDirective>
</div>
<div *slideMenuShow='toDo==kindaPerspectiveComponentUrl' class='mainItem width100'>
    <about-kindaPerspectiveComponent [compactSubClass]='compactSubClass'></about-kindaPerspectiveComponent>
</div>
<div *slideMenuShow='toDo==slideMenuUrl' class='mainItem width100'>
    <about-slideMenu [compactSubClass]='compactSubClass'></about-slideMenu>
</div>