<div class='whiteColor commentWrapper'>
    <ng-template *ngTemplateOutlet='temp_messages; context: {msgs: messages, cntIn: 0}'>
    </ng-template>
    <button (click)='showResponseTo(undefined)' class='smallerBtn'
    *ngIf='!respondVisible && session.isLogged()'>komentuj</button>
    <div *ngIf='respondVisible' class='response'>
        <rich-text-box class='responseRtb displayBlock whiteColor' [(text)]='respondText'>
        </rich-text-box>
        <div class='visibleResponseWrapper'>
            <button (click)='hideResponse()' style='float: left;' class='smallerBtn'>
                už nekomentuj
            </button>
            <button (click)='sendResponse()' style='float: right;' class='smallerBtn'>
                odošli
            </button>
            <div class='clearBoth'></div>
        </div>
    </div>
</div>

<ng-template #rtb let-msg='msg' let-offset='offset'>
    <div style='margin-right: 1em;' [ngStyle]='{"margin-left": (offset+1)+"em"}'>
        <span class='displayBlock textLeft'>
            <span class='from'>{{msg.fromUserName}}: </span>
            <span class='time'>({{msg.time * 1000 | date:'dd.MM.yyyy HH:mm:ss'}})</span>
        </span>
        <div class='clearBoth'></div>
        <button (click)='showResponseTo(msg)' class='smallerBtn floatRight z2'
        *ngIf='!msg.respondVisible && session.isLogged()'>
            <span *ngIf='(msg.fromLoginName != session.getItem(loginNamePropName))'>reaguj</span>
            <span *ngIf='(msg.fromLoginName == session.getItem(loginNamePropName))'>uprav</span>
        </button>
        <button (click)='deleteResponse(msg)' class='smallerBtn floatRight z2' *ngIf='session.isUberAdmin()'>
            vymaž
        </button>
        <rich-text-box class='rtb displayBlock'
            scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30' [scdDisabled]='compactSubClass==ultraCompact'
            [(text)]='msg.text' readonly='true'
            *ngIf='!msg.respondVisible || (msg.fromLoginName != session.getItem(loginNamePropName))'>
        </rich-text-box>
        
        <div class='response'
            *ngIf='msg.respondVisible && (msg.fromLoginName == session.getItem(loginNamePropName))'>
            <rich-text-box class='responseRtb displayBlock whiteColor' 
                [(text)]='newText'></rich-text-box>
            <div class='visibleResponseWrapper'>
                <button (click)='hideResponse()' style='float: left;' class='smallerBtn'>
                    už neuprav
                </button>
                <button (click)='updateResponse()' style='float: right;' class='smallerBtn'>
                    odošli
                </button>
                <div class='clearBoth'></div>
            </div>
        </div>
    </div>
    

    <div class='response'
        *ngIf='msg.respondVisible && (msg.fromLoginName != session.getItem(loginNamePropName))'>
        <rich-text-box class='responseRtb displayBlock whiteColor' 
            [(text)]='respondText'></rich-text-box>
        <div class='visibleResponseWrapper'>
            <button (click)='hideResponse()' style='float: left;' class='smallerBtn'>
                uz nereaguj
            </button>
            <button (click)='sendResponse()' style='float: right;' class='smallerBtn'>
                odosli
            </button>
            <div class='clearBoth'></div>
        </div>
    </div>
</ng-template>

<ng-template #temp_messages let-msgs='msgs' let-cntIn='cntIn'>
    <ng-container *ngFor='let msg of msgs'>
        <ng-container *ngTemplateOutlet='rtb; context: {msg: msg, offset: cntIn}'>
        </ng-container>
        <ng-container *ngTemplateOutlet='temp_messages; context: {msgs: msg.responses, cntIn: cntIn+1}'>
        </ng-container>
    </ng-container>
</ng-template>