rich-text-box {
    background-color: rgba(27, 27, 27, 0.6);
    border: 1px solid rgb(85, 85, 85);
    font-family: courier, sans-serif;
    box-shadow: 1px 1px 2px #333;
}
.rtb{
    margin-top: 0px;
}
.responseRtb{
    background-color: rgba(27, 27, 27, 0.8);
}
.from{
    float: left;
    margin-bottom: 0px;
    margin-left: 1em;
    text-align: left;
}
.time{
    float: right;
    margin-bottom: 0px;
    margin-right: 1em;
    text-align: left;
    color: #afafaf;
}
.response{
    text-align: left;
    margin-top: 5px;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    color: #fff;
    background-color: rgba(27, 27, 27, 0.5);
}
.whoInput{
    background-color: rgba(27, 27, 27, 0.8);
    padding: 5px;
    margin: 2px;
    color: white;
    border: 0.5px solid #5a5a5a;
}
.commentWrapper{
    margin-right: 1em;
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(27, 27, 27, 0.3);
}
.invisibleResponseWrapper{
    margin-bottom: 10px;
}
.visibleResponseWrapper{
    margin-bottom: 20px;
}