.loginWrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 250px;
    background-color: #9c9c9c75;
    border-radius: 8px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}
.firstInput{
    margin-top: 100px;
}
input{
    background-color: rgba(27, 27, 27, 0.8);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: 0.5px solid #5a5a5a;
    width: 95%;
}