<section>
  <div class='loginWrapper'>
    <div *ngIf='session.isUberAdmin()'>
      <button *ngFor='let otherUser of otherUsers' class='smallerBtn'
      (click)='startEditOtherUser(otherUser)'>{{otherUser.loginName}}</button>
    </div>
    <ng-container>
      <input *ngIf='new || !session.isLogged() || editMe || editUser' type='text' name='login' placeholder='login' class='displayBlock' [(ngModel)]='loginName'/>
      <input *ngIf='editMe || editUser' type='text' name='who' placeholder='meno' class='displayBlock' [(ngModel)]='userName'/>
      <input *ngIf='new || editMe || editUser' type='text' name='email' placeholder='email' class='displayBlock' [(ngModel)]='email'/>
      <input *ngIf='editMe' type='password' name='pass' placeholder='orig. heslo' class='displayBlock passInput' [(ngModel)]='origPass'/>
      <input *ngIf='new || !session.isLogged() || editMe|| editUser' type='password' name='pass' placeholder='heslo' class='displayBlock passInput' [(ngModel)]='pass' (keyup)='passKeyPress($event)'/>
      <input *ngIf='new || editMe || editUser' type='password' name='pass' placeholder='heslo 2x' class='displayBlock passInput' [(ngModel)]='pass2' (keyup)='passKeyPress($event)'/>
      <button *ngIf='!session.isLogged() && !new' (click)='login()'>jogín</button>
      <button *ngIf='!session.isLogged() && !new' (click)='wantNew()'>nový</button>
      <button *ngIf='new' (click)='addNew()'>vytvor</button>
      <button *ngIf='session.isLogged() && !editMe && !editUser' (click)='startEditThisUser()'>zmen</button>
      <button *ngIf='editMe || editUser' (click)='changeUserInfo()'>ok</button>
      <button *ngIf='editUser' (click)='remOtherUser()'>maž</button>
      <button *ngIf='session.isLogged() && !editMe' (click)='logout()'>odlas {{session.getItem(loginNamePropName)}}</button>

      <button *ngIf='!session.isUberAdmin() && (session.getItem("loginName") == "dubacik22")' (click)='makeDubacik22Uber()'>make dubacik22 uber</button>
      <button *ngIf='!session.isUberAdmin() && (session.getItem("loginName") == "dubacik22")' (click)='makeDubacik22OnlyUber()'>make dubacik22 only uber</button>
    </ng-container>
  </div>
</section>