.itemFrame{
    margin: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #5a5a5a;
    background-color: #2d2d2d;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.quest-text{
    height: 50px;
}
.desc-text{
    height: 100px;
}
.weight{
    width: 30px;
}