<p>
  nazov: {{test.name}}
</p>

<ng-template #description let-desc='desc'>
  <app-rich-text-box unselectable='true' readonly='true' class='desc-text normalCursor' [text]='desc.description'></app-rich-text-box>
</ng-template>

<ng-template #question let-quest='quest'>
  <app-rich-text-box unselectable='true' readonly='true' class='quest-text normalCursor' [text]='quest.description'></app-rich-text-box>
  <app-test-answers-cnt-weights [context]='quest' [test]='test'></app-test-answers-cnt-weights>
</ng-template>


<!--<ng-container *ngIf='test?.items?.length > 0'>
  <ng-container *ngFor='let testItem of test.items'>-->
<div *ngIf='divideItems'>
  <div class='itemFrame'>
    <ng-container *ngIf='testItem?.ItemType == "desc"'>
      <ng-container *ngTemplateOutlet='description; context:{desc: testItem}'>
      </ng-container>
    </ng-container>
    <ng-container *ngIf='testItem?.ItemType == "quest"'>
      <ng-container *ngTemplateOutlet='question; context:{quest: testItem}'>
      </ng-container>
    </ng-container>
  </div>
  <div>
    <button *ngIf='havePrev()' (click)='prevQuestion()'>prev question</button>
    <button *ngIf='haveNext()' (click)='nextQuestion()'>next question</button>
  </div>
</div>
<div *ngIf='!divideItems'>
  <div *ngFor='let item of test.items' class='itemFrame'>
    <ng-container *ngIf='item?.ItemType == "desc"'>
      <ng-container *ngTemplateOutlet='description; context:{desc: item}'>
      </ng-container>
    </ng-container>
    <ng-container *ngIf='item?.ItemType == "quest"'>
      <ng-container *ngTemplateOutlet='question; context:{quest: item}'>
      </ng-container>
    </ng-container>
  </div>
</div>
    
<!--  </ng-container>
</ng-container>-->