<div class='border'>
    <color-dot class='displayInline font0' [dotSizeInPercent]='dotSizeInPercent'
        [context]='dot' *ngFor='let dot of context?.dots'
        [editableColor]='editableColor' [colorsCnt]='context.colorsCnt'></color-dot>
</div>