<button (click)='saveTest()'>uloz</button>
<button (click)='loadTest()' >otvor</button>
<button (click)='removeTest()' >maz</button>
<br/>

<button *ngIf='test == undefined' (click)='createTest()' >vytvor</button>

<ng-container *ngIf='test != undefined'>
  <app-creating-test></app-creating-test>
</ng-container>