<!--classic thumbnails-->
<div #galleryWrapper class='width100 font0 galleryWrapper nonSelectable'>
  <div *ngFor='let galleryPicts of galleryPictRows' class='textLeft'>
    <div *ngFor='let galleryPict of galleryPicts' class='positionRelative thumbHolder'
     [style.height.px]='galleryPict.getThumbImg().holderSize.h'
     [style.width.px] ='galleryPict.getThumbImg().holderSize.w'>
      <img class='thumb positionAbsolute z2'
       [style.margin.px]='imgMarginPx' [src]='galleryPict.getThumbImg().path'
       [height]='galleryPict.getThumbImg().imgSize.h'
       [width] ='galleryPict.getThumbImg().imgSize.w'/>
      <div class='overlay width100 height100 positionAbsolute z3' (click)='openImg(galleryPict)'></div>
    </div>
  </div>
</div>
<div class='imgWrapper nonSelectable' [ngClass]='imgWrapperSubclass'>
  <!--left-->
  <div class='left button z4 backgroundColorNone' *ngIf='leftButtonVisible' (click)='showPrevImg()'>
    <svg role='img' viewBox='0 0 512 512' class='left arrow'>
      <path fill='currentColor' d='M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z'>
      </path>
    </svg>
  </div>
  <div class='width100 height100 z3 positionAbsolute top0 outlineNone' #imgHolder (keyup)='keyUp($event)' tabindex='0'>
  </div>
  <!--circle thumbnails-->
  <div class='positionAbsolute width100 overHidden z4 gThumbsHolder' *ngIf='!compact'>
    <div class='displayInlineBlock overHidden cursorPointer positionRelative gThumbHolder'
    *ngFor='let gthumb of gThumbs' (click)='openImgFromGThumb(gthumb)'
    [ngClass]='gthumb.activeSubclass'
    [style.background-color]='thumbBackground'
    [style.width.px]='gthumb.preview_thumb.holderSize.w'
    [style.height.px]='gthumb.preview_thumb.holderSize.h'>
      <img class='positionAbsolute top50 left50 transform50' [src]='gthumb.preview_thumb.path'
      [width]='gthumb.preview_thumb.imgSize.w' [height]='gthumb.preview_thumb.imgSize.h'
      />
    </div>
  </div>
  <!--right-->
  <div class='right button z4 backgroundColorNone' *ngIf='rightButtonVisible' (click)='showNextImg()'>
    <svg role='img' viewBox='0 0 512 512' class='rigth arrow'>
      <path fill='currentColor' d='M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z'>
      </path>
    </svg>
  </div>
  <!--exit-->
  <div class='exit button z4 backgroundColorNone' (click)='hideImgWrapper()'>
    <svg role='img' viewBox='0 0 512 512' class='exit arrow'>
      <path fill='currentColor' d='M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm16 400c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V80c0-8.8 7.2-16 16-16h416c8.8 0 16 7.2 16 16v352zM348.6 188.3L280.9 256l67.7 67.7c4.6 4.6 4.6 12 0 16.6l-8.3 8.3c-4.6 4.6-12 4.6-16.6 0L256 280.9l-67.7 67.7c-4.6 4.6-12 4.6-16.6 0l-8.3-8.3c-4.6-4.6-4.6-12 0-16.6l67.7-67.7-67.7-67.7c-4.6-4.6-4.6-12 0-16.6l8.3-8.3c4.6-4.6 12-4.6 16.6 0l67.7 67.7 67.7-67.7c4.6-4.6 12-4.6 16.6 0l8.3 8.3c4.5 4.6 4.5 12 0 16.6z'>
      </path>
    </svg>
  </div>
</div>