.overlay{
    cursor: pointer;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.overlay:hover{
    opacity: 0.2;
}
.galleryWrapper{
    margin-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.thumb{
    top: 0;
    left: 0;
}
.thumbHolder{
    display: inline-block;
    filter: saturate(0.8);
    transition-property: filter;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.thumbHolder:hover{
    filter: saturate(1.4)
}
.gThumbsHolder{
    bottom: 1px;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
}
.gThumbHolder{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    transition-property: filter;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.gThumbHolder.nonActive{
    filter: saturate(0.2) brightness(0.7);
}
.gThumbHolder.active{
    filter: saturate(1) brightness(1.1);
}
.gThumbHolder:hover{
    filter: saturate(0.8) brightness(1);
}

.colorOverride.nonActive{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.6;
}

.imgWrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0.8);
}
img{
    top: 50%;
    left: 50%;
    text-align: center;
}
.button{
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100px;
    color: rgb(255, 255, 255);
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.button:hover{
    opacity: 0.9;
}
.button.exit{
    height: 70px;
    width: 70px;
    right: 0;
    top: 0;
}
.button.left{
    left: 0;
}
.button.right{
    right: 0;
}
.arrow{
    top: 50%;
    height: 40px;
    position: absolute;
}
.arrow.exit{
    top: 10px;
    right: 10px;
    height: 40px;
    position: absolute;
}
.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px;
}