<div>
    <div>
        počet bodiek:
        <input class='input' type='range' min='3' max='10' [(ngModel)]='dotsCnt'/>
    </div>
    <div>
        počet farieb:
        <input class='input' type='range' min='2' max='15' pattern='[0-9]' [(ngModel)]='colorsCnt'/>
    </div>
</div>
<div>
    <color-dots-row *ngIf='showMyColors' class='displayInlineBlock history' style='width: 70%' [context]='game.myColors'
        [editableColor]='false'></color-dots-row>
    <button class='showBtn' (click)='toggleMyColors()'>ukáž</button>
</div>
<div *ngFor='let row of game.userRows'>
    <color-dots-row class='displayInlineBlock history' [context]='row'
        [editableColor]='false'></color-dots-row>
    <color-dots-row-match class='displayInlineBlock match' [context]='row'></color-dots-row-match>
</div>

<div>
    <color-dots-row class='displayInlineBlock' style="width: 70%" [context]='game.actuallyAddedRow'
        [editableColor]='true'></color-dots-row>
    <button class='addButton displayInline' (click)='add()'>skús</button>
</div>