<div>
    <label *ngFor='let test of tests'>
        <input type='checkbox' class='scale2 marginL15' [(ngModel)]='test.goToLink'/>
        {{test.name}}
    </label>
    <select [(ngModel)]='resultsGroup'>
        <option *ngFor='let item of resultsGroups' [ngValue]='item.id'>
          {{item.name}}
        </option>
    </select>
</div>
<button (click)='finish()'>hotovo</button>