<section>

  <div *slideMenuShow='toDo == losAngularosUrl' class='width100'>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Táto stránka
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Pôvodne začala ako nižšie spomínané sudoku. Teraz je to osobitný projekt, na ktorom
          zatiaľ najviac pracujem. Stránka je celá písaná v Angulari. Počas vývoja som chcel použiť nejaké
          už vytvorené komponenty ale nenašiel som nič čo by sa mi páčilo. Iba gelériu, ale tá tiež z nejakého
          dôvodu nefungovala.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showAboutPage()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/pageFrg.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-98px' frgMarginTop='-80px' frgHeight='100px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>

    <div class='clearBoth'></div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          solaris
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          taka mala simulacia nasej planety ako sa otaca okolo slnka a vlastnej osi ktora je naklonena a preto vidno pekne ako sa menia rocne obdobia.
          Takto to vznikalo. A potom ma napadlo tam vlozit newtonov gravitacny zakon, dat telesam hmotu a voila.. mame to pokus o simulaciu pohybu hmotnych telies vo vesmire.
        </p>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showSolaris()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/solarisFrg.png'
     middleImage='assets/imgs/parallax/solarisMdd.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-73px' frgMarginTop='-74px' frgHeight='150px'
     mddMarginLeft='-100px' mddMarginTop='-100px' mddHeight='200px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>

    <div class='clearBoth'></div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Sudoku
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Sudoku som začal už ako rozbitý ale absolútne nepamätám kedy to bolo. 
          Totiž po zranení som mal celkom nefunkčnú pamäť. Viem len, že to bolo asi tento rok, 
          lebo vtedy ma pustili z nemocnice domov. Zo začiatku sa mi úplne bežne stávalo, 
          že voľakú metódu som napísal 2/3 krát. Lebo v jeden deň mi bolo treba nejakú funkcionalitu, 
          tak som si ju napísal a v iný deň (kľudne aj v nasledujúci) som zapotreboval tú istú funkcionalitu 
          tak som si ju napísal...lebo som zabudol že som to uz napísal.
        </p>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          No a keď som si neskôr prešiel kód, tak som našiel toľko duplicít..
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showSudoku()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/sudokuFrg.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-98px' frgMarginTop='-80px' frgHeight='160px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>
    
    <div class='clearBoth'></div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Tester
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Tester som začal ešte keď som bol nezaujímavý (v tom trápnom a nudnom obdobi pred zranením). 
          Keď som sa na neho pozrel neskôr, po roztieskaní, tak som nechápavo pozeral ako puk.
          Ale časom som sa našiel a pokračoval som. Ešte ale nie je dokončený, lebo to nieje projekt ktorý
          by vznikol z mojej iniciatívy. V zranenom období som v ňom ale doplnil pár vecí, hlavne ten text-box
          v ktorom sa dá zadávať formátovaný text.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showTester()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/testFrg.png'
     middleImage='assets/imgs/parallax/testMdd.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-60px' frgMarginTop='-80px' frgHeight='160px'
     mddMarginLeft='-100px' mddMarginTop='-100px' mddHeight='200px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>

    <div class='clearBoth'></div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          farebné kolieska
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          U kamaráta som raz hral takú strašne starú hru s plastovými farebnými špendlíkmi.
          On si ich mal napichať do steny takej krabičky (presne 4 kusy, ľubovoľnej farby) a mojou
          úlohou bolo prísť na farebnú kombináciu a poradie špendlíkov.
          Keď som urobil typ, tak jeho odpoveď (spätná väzba) bola taká, že vedľa mojho typu napichal
          čerené a biele špenlíky. Červeý špendlík znamenal že som trafil farbu aj polohu špendlíka.
          Biely špendlík ynamenal, že som trafil len farbu. Poloha špendlíka jeho odpovede bola ale nezávislá od
          špendlíka ku ktorému sa vyťahovala.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showColorDots()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/dotsFrg.png'
     middleImage='assets/imgs/parallax/dotsMdd.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-70px' frgMarginTop='-90px' frgHeight='150px' frgDistance='0'
     mddMarginLeft='-70px' mddMarginTop='-90px' mddHeight='150px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>
    
    <div class='clearBoth'></div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          doodling
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          celé je to fail. Prečo? No nevedel som urobiť notifikácie zo strany servra.
          Dalo by sa každých 500ms pýtať servra to, či má niečo nové. Ale to sa mi akosik nepáči.
          Najlepšie by bolo urobiť niečo čo bude iniciované servrom. Skúšal som notifikácie cez
          'EventSource' (vraj by to malo vedieť) ale on sa namiesto toho pýta serva každé 3 sekundy.
          Teda zrovna to, čo som nechcel. Takže to funguje ale strašne škaredo. Aby sa mi
          nezbláznil server, tak robím refresh každé 3 sekundy, teda ak niekto iný niečo nakreslí,
          tak sa to u vás ukáže za cca 3 sekundy. A kvôli šetreniu databázy mažem čiary,
          ktoré sú staršie ako polhodinu.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showDoodling()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/doodleFrg.png'
     middleImage='assets/imgs/parallax/doodleMdd.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='0px' frgMarginTop='-80px' frgHeight='80px'
     mddMarginLeft='-70px' mddMarginTop='-30px' mddHeight='70px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>

    <div class='clearBoth'></div>
    
    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          rubik
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Celkom narýchlo urobený koncept rubíkovej kocky. S kamarátom som sa raz bavil o tom,
          že urobiť 3d kocku pomocou CSS malo byť podľa neho náročné. Podľa mňa to malo byť zvládnuťeľné. A toto je výsledok.
          Zatiaľ nefunguje otáčanie jednotlivých poschodí kocky, ale kocka je už na svete. A to za 2 dni. Potom som sa ale
          rozhodol upraviť základ na ktorom bola postavená kocka (prerábka direktívy na komponent aby som sa vyhol niektorým
          časovačom) a tam sa mi už prestalo chcieť :D.
        </p>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          A skúšal aj Petríček. <a target='_blank' rel='noopener noreferrer' href='http://rubik.labkysandale.sk/'>aha.</a>
          Otáča sa pri podržaní pravého tlačítka.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showRubiks()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/rubiksFrg.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-70px' frgMarginTop='-80px' frgHeight='150px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>
    
    <div class='clearBoth'></div>
    
    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          grafos
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Kamarát potreboval voľakým spôsobom merať teplotu v kaliacej peci a vytvárať grafy z týchto priebehov.
          Tak brat urobil hardware smímača ktorý vie odosielať odmerané hodnoty cez wifi a ja som urobil php skript
          krorý ukladá tieto hodnoty do sql tabuľiek (sú dve). A časť stránky ktorá ich vie zobraziť a uložiť ako obrázok.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showGrafos()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/grafosFrg.png'
     middleImage='assets/imgs/parallax/grafosMdd.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-70px' frgMarginTop='-80px' frgHeight='150px'
     mddMarginLeft='-80px' mddMarginTop='-70px' mddHeight='120px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>
  </div>

  
  <div *slideMenuShow='toDo == aboutPageUrl' class='mainItem width100'>
    <app-about-page [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></app-about-page>
  </div>

  <div *slideMenuShow='toDo == sudokuUrl' class='mainItem width100'>
    <app-sudoku class='sudoku'></app-sudoku>
  </div>

  <div *slideMenuShow='toDo == testerUrl' class='mainItem width100'>
    <app-tester class='textLeft'></app-tester>
  </div>

  <div *slideMenuShow='toDo == colorDotsUrl' class='mainItem width100'>
    <app-color-dots-game class='textLeft displayBlock colorDots' [ngStyle]='colorDotsWidth'></app-color-dots-game>
  </div>

  <div *slideMenuShow='toDo == doodlingUrl' class='mainItem width100'>
    <app-doodling class='textLeft displayBlock doodler' [ngClass]='compactSubClass'></app-doodling>
  </div>

  <div *slideMenuShow='toDo == solarisUrl' class='mainItem width100'>
    <app-solaris class='displayBlock positionRelative solaris' [ngClass]='compactSubClass' [compact]='compact || ultraCompact'></app-solaris>
  </div>

  <div *slideMenuShow='toDo == rubiksUrl' class='mainItem width100'>
    <app-rubiks-cube class='displayBlock positionRelative' [ngClass]='compactSubClass'></app-rubiks-cube>
  </div>

  <div *slideMenuShow='toDo == grafosUrl' class='mainItem width100'>
    <app-grafos class='displayBlock positionRelative' [ngClass]='compactSubClass' [compactSubClass]='compactSubClass'></app-grafos>
  </div>
</section>