.border{
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #2b2be273;
}