<div class='border'>
    <div>
        <color-dot class='displayInline font0' [dotSizeInPercent]='dotSizeInPercent'
                [context]='dot' *ngFor='let dot of dots1' [matchResult]='true'
                [editableColor]='false'></color-dot>
    </div>
    <div>
        <color-dot class='displayInline font0' [dotSizeInPercent]='dotSizeInPercent'
                [context]='dot' *ngFor='let dot of dots2' [matchResult]='true'
                [editableColor]='false'></color-dot>
    </div>
</div>