<div class='positionRelative html'>
  <div class='positionAbsolute width100'>
    <div *ngIf='toDo == nothingUrl' class='textCenter'>
      <div class='floatRight'>
        <button *ngIf='session.isLogged()' (click)='goResults()' class='displayBlockImportant'>vysledky</button>
        <button *ngIf='session.isLogged()' (click)='goCreate()' class='displayBlockImportant'>create</button>
        <button *ngIf='session.isLogged()' (click)='goLink()' class='displayBlockImportant'>link pre testy</button>
      </div>
      <button class='testButton' *ngFor='let test of tests'
      [ngClass]='{"myTestButton": test.my, "erareTestButton": test.erare, "foreignTestButton": test.foreign}'
      (click)='goTest(test)'>{{test.name}}</button>
      <button class='testButton' *ngFor='let test of allRestTests'
      style='opacity: 0.7; background-color: #4e5041cf;'
      (click)='goTest(test)'>{{test.name}}</button>
    </div>

    <ng-container *ngIf='toDo == creatingUrl'>
      <button (click)='decideAgain()'>back</button>
      <app-creating (testsChanged)='refreshTests()'></app-creating>
    </ng-container>
    <ng-container *ngIf='toDo == linkingUrl'>
      <button (click)='decideAgain()'>back</button>
      <app-linking></app-linking>
    </ng-container>
    <ng-container *ngIf='toDo == testingUrl'>
      <button (click)='decideAgain()'>back</button>
      <app-testing></app-testing>
    </ng-container>
    <ng-container *ngIf='toDo == resultsUrl'>
      <button (click)='decideAgain()'>back</button>
      <app-results></app-results>
    </ng-container>
  </div>
</div>
