.testButton{
    height: 100px;
    width: 150px;
    padding: unset;
}
.testerButton{
    display: block;
}
.testerButtonWrapper{
    float: right;
}
.myTestButton{
    opacity: 1;
    background-color: #404040cf;
}
.erareTestButton{
    opacity: 0.7;
    background-color: #4e5041ef;
}
.foreignTestButton{
    opacity: 0.7;
    background-color: #504141cf;
}