<div #numberHolder class='number border positionRelative'
     [style.background-image]='backgroundImage'>
  
  <input class='positionAbsolute fontBigger'
    type='number'
    pattern='[0-9]'
    [(ngModel)]='bindedText'
    #numholder
    [style.color]='textColor'
    [readonly]='readonlyInput'
    (keydown)='onNumKeydown($event)'
    (focus)='focusFunction()' (focusout)='focusOutFunction()'/>
    <!-- (mousewheel)='onScroll()' -->

  <input class='positionAbsolute fontSize0'
    *ngIf='App.WantToHave'
    (keydown)='onWantHaveKeydown($event)'
    (focusout)='wthFocusOut()'
    type='tel'
    [(ngModel)]='wantHaveItem'
    #wthholder
    [readonly]='readonlyInput'/>

  <div *ngFor='let whvItem of wantHave' class='littleNum{{whvItem}} positionAbsolute wh100 z53'>
    <div  class='fontSmall'>{{whvItem}}</div>
  </div>

</div>
