.number{
  height: 95%;
  width: 95%;
  border-radius: 8px;
  color: #aaa;
  background-image: linear-gradient(to right bottom, #283616, #809B6E);
  z-index: 1;
}
.number.readonly{
  background-image: linear-gradient(to right bottom, #586350, #6F8458);
}
.number.err{
  background-image: linear-gradient(to bottom right, #390000, #a00000) !important;
}
.number.friendSelected{
  background-image: linear-gradient(to right bottom, #355013, #88B36B);
}
.number.readonly.friendSelected{
  background-image: linear-gradient(to right bottom, #617254, #799858);
}
.number.readonly:focus-within{
  box-shadow: 0 0 20px rgb(69, 110, 104);
  z-index: 2;
  color:#fff;
}
.number:focus-within{
  box-shadow: 0 0 20px rgb(106, 209, 194);
  z-index: 2;
  color:#fff;
}
.numText{
  color: #fff;
}
.fontBigger{
  font-size: 20px;
}
.fontSmall{
  font-size: 10px;
}
input {
  -moz-appearance:textfield; /* Firefox */
  border-width: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:  54;
  text-align: center;
  background-color:  rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  color: inherit;
}
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input:focus {
  width: 100%;
  height: 100%;
  z-index: 55;
  outline: none;
}

.fontSize0{
  font-size: 0.1px;
  color: rgba(0, 0, 0, 0)
}
.wh100{
  width: 100%;
  height: 100%;
}
.z53{
  z-index: 53;
}
.littleNum1{
  top: 10%;
  left: -30%;
}
.littleNum2{
  top: 10%;
  left: 0%;
}
.littleNum3{
  top: 10%;
  left: 30%;
}
.littleNum4{
  top: 35%;
  left: -30%;
}
.littleNum5{
  top: 35%;
  left: 0%;
}
.littleNum6{
  top: 35%;
  left: 30%;
}
.littleNum7{
  top: 65%;
  left: -30%;
}
.littleNum8{
  top: 65%;
  left: 0%;
}
.littleNum9{
  top: 65%;
  left: 30%;
}

.biggerNum1{
  top: 40px;
  left: 40px;
  z-index: 53;
}