.projetsButtons{
    margin-top: 70px;
}

.backButton{
    float: right;
}

.sudoku{
    max-width: 500px;
}
.marginTop50{
    margin-top: 160px;
}
.mainItem{
    left: 0;
    margin-top: 20px;
}
.floatTextWrapper.nonCompact{
    width: 60%;
    margin-left: 50px;
    margin-right: 10%;
}
.floatTextWrapper.compact{
    width: 70%;
    margin-left: 25px;
    margin-right: 2%;
}
.floatTextWrapper.ultraCompact{
    float: initial;
}
h2 { 
    display: block;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.83em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0px 0px 9px #CECECE, 0px 0px 13px #CECECE;
}
.perspectiveButton{
    margin-top: 2%;
}
.perspectiveButton.nonCompact{
    height: 300px;
    width: 200px;
}
.perspectiveButton.compact{
    height: 30vh;
    width: 20%;
}
.perspectiveButton.ultraCompact{
    height: 30vh;
    width: 150px;
    float: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clickRight{
    bottom: 10px;
    right: 20px;
    margin: 0;
    font-weight: bold;
    font-size: 200%;
    color: rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 20px #000;
}
.colorDots{
    margin-left: auto;
    margin-right: auto;
}
.doodler, .solaris{
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}
.doodler.nonCompact, .solaris.nonCompact{
    top: 165px;
}
.doodler.compact, .doodler.ultraCompact, .solaris.compact, .solaris.ultraCompact{
    top: 10px;
}