<section>
  <div *slideMenuShow='toDo == projectsUrl' class='width100'>
    <div class='overHidden textWrapper header' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h1 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          los projektos
        </h1>
      </div>
    </div>

    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          los angularos
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Toš hromada hlúhostí len tak z dlhého času, s ktorými som začal v čase keď som bol najviac produktívny a najefektívnejší v mojom živote.
          toto obdobie začalo návštevou Gruzínska o ktorom sa dá viac dočítať na úvode. (ono tam aj tak nič viac nieje)
          Keď som bol orientačne ako patizón, tak som sa začal hrať s angularom a celkom sa mi to začalo páčiť, tak som urobil hlavne túto stránku a pár ďalších vecí.
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showLosAngularos()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/angularFrg.png'
     middleImage='assets/imgs/parallax/angularMdd.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-78px' frgMarginTop='-72px' frgHeight='120px'
     mddMarginLeft='-80px' mddMarginTop='-70px' mddHeight='120px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>
    
    <div class='clearBoth'></div>
    
    <div class='overHidden textWrapper floatLeft positionRelative floatTextWrapper' [ngClass]='compactSubClass'>
      <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <h2 scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          dot nette
        </h2>
        <p scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
          Toto sú veci ktoré vznikli v práci. Nie sú to výsledné produkty, ale postranné pomocné veci.
          Knižnice s ktorými som si prácu zjednodušil (a zjednodušujem doteraz)
        </p>
        <p class='positionAbsolute clickRight'>{{clickDirection}}</p>
      </div>
    </div>
    <kinda-perspective class='floatLeft perspectiveButton' (execute)='showDotNette()'
     [ngClass]='compactSubClass' [compact]='ultraCompact'
     foregroundImage='assets/imgs/parallax/dotNetFrg.png'
     middleImage='assets/imgs/parallax/dotNetMdd.png'
     backgroundImage='assets/imgs/parallax/bkg.png'
     frgMarginLeft='-80px' frgMarginTop='-70px' frgHeight='120px'
     mddMarginLeft='-80px' mddMarginTop='-70px' mddHeight='120px'
     bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'>
    </kinda-perspective>
    
    <div class='clearBoth'></div>

  </div>

  
  <app-losAngularos *slideMenuShow='isLosAngularos' [compact]='compact' [ultraCompact]='ultraCompact'
  class='mainItem width100' [ngClass]='compactSubClass' [(toDo)]='toDo'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></app-losAngularos>

  <app-dotNette *slideMenuShow='isDotNette' [compact]='compact' [ultraCompact]='ultraCompact'
  class='mainItem width100' [ngClass]='compactSubClass' [(toDo)]='toDo'
  [compactSubClass]='compactSubClass' [scdStart]='scdStart' [scdEnd]='scdEnd'></app-dotNette>

</section>