<div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder' [ngClass]='compactSubClass'>
        <p class='textLeft' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'>
            EKProperty je struktura urcena pre konfiguraciu vstupov a vystupov metody
            EKProperty oekp = new EKProperty(String PropertyPath, IKalkulatorowaciaKlassa PropertyPathHolder)
            PropertyPathHolder nesmie byt null
            PropertyPath moze byt aj vnoreny ako napr: "holder.poperta". to znamena, ze properta sa nachadza v: PropertyPathHolder.holder.poperta pre lepsie pochopenie sa pise ako PropertyPathHolder."holder.poperta", alebo vyssie spominane O1."O2.P1"
            EK v pripade vnorenej property pocuva na zmenu celeho retazca properiet (ak sa nachadzaju v IKalkulatorowaciaKlassa)
            EK pocuva aj ked je properta vnorena v poli (najlepsie observableCollection, lebo obsahuje INotifyPropertyChanged). vtedy musi byt inicializovana ako: "pole.Item(2)...Properta".

            <button class='textLeft smallerBtn' scrollChngDir [scdStart]='scdStart' [scdEnd]='scdEnd' scdMax='30'
            (click)='showItem(EKIKalkulatorowaciaKlassaUrl)'>IKalkulatorowaciaKlassa</button>
        </p>
    </div>
</div>
