.group{
  display: flex;
  flex-wrap: wrap;
  height: 96%;
  width: 96%;
  position: absolute;
}
.number{
  display: block;
  width: 33.3%;
  height: 33.3%;
}

.break{
  flex-basis: 100%;
  height: 0;
}