<div class="group"><!--group fontSize0 widerBorder margin15-->
  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3"   [thiscol]="col*3"   class="number"></app-number>
  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3"   [thiscol]="col*3+1" class="number"></app-number>
  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3"   [thiscol]="col*3+2" class="number"></app-number>

  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3+1" [thiscol]="col*3"   class="number"></app-number>
  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3+1" [thiscol]="col*3+1" class="number"></app-number>
  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3+1" [thiscol]="col*3+2" class="number"></app-number>

  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3+2" [thiscol]="col*3"   class="number"></app-number>
  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3+2" [thiscol]="col*3+1" class="number"></app-number>
  <app-number (onCreate)="onNumCreate($event)" (onValidate)="onNumValidate($event)" (onArrowPressed)="onArrowPressedInNum($event)" [thisrow]="row*3+2" [thiscol]="col*3+2" class="number"></app-number>
 </div>