<div style="margin-left: auto; margin-right: auto; height: 350px; width: 300px;">
    <kinda-perspective class='floatLeft' style='width: 300px; height: 300px'
    [ngClass]='compactSubClass'
    foregroundImage='assets/imgs/parallax/testFrg.png'
    middleImage='assets/imgs/parallax/testMdd.png'
    backgroundImage='assets/imgs/parallax/bkg.png'
    frgMarginLeft='-60px' frgMarginTop='-80px' frgHeight='160px'
    mddMarginLeft='-100px' mddMarginTop='-100px' mddHeight='200px'
    bkgMarginLeft='-600px' bkgMarginTop='-340px' bkgHeight='680px'></kinda-perspective>
</div>
<div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        <p>
            Toto je komponent 'kindaPerspective'.
        </p>
        <p>
            Tento komponent má v sebe 3 vrstvy a každá jedna má trocha iné parametre 'kindaPerspective' direktívy.
            Ono je tam toho trochu viac ak chceme počítať aj rámik a otvor v ňom. Ale tak komu by sa chcelo. 
        </p>
        <p>
            Tento komponent funguje veľmi divne, resp. vôbec nefunguje na telefónoch a tabletoch, lebo nemajú myšku.
        </p>
        <p>
            Tento komponent funguje ako tlačítko, takže je možné po stlačení myšky zavolať metódu.
        </p>
    </div>
</div>
<fieldset class='littleDarker' style='margin-top: 20px'>
    <legend style='text-align:left'>
        <button (click)='showTsCode();' class='smallerBtn'>
            <svg class='char' [@rotate]='detailsVisible2rotation(codeTsVisible)' role='img' viewBox='0 0 320 512'>
                <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
            </svg>
            Kód (ts)
        </button>
    </legend>
    <div *ngIf='codeTsVisible' class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
            <textarea class='width100 code' [ngClass]='compactSubClass' #ta1 style='height: 600px'>
import { OnInit, Component, Input, Output, EventEmitter } from '@angular/core';

@Component({
    selector: 'kinda-perspective',
    templateUrl: './kinda-perspective.component.html',
    styleUrls: ['./kinda-perspective.component.css']
})
export class KindaPerspectiveComponent implements OnInit {
    @Output() execute: EventEmitter<void> = new EventEmitter();

    @Input() foregroundImage: string;
    @Input() frgMarginLeft: string = '0';
    @Input() frgMarginTop: string = '0';
    @Input() frgWidth: string = 'auto';
    @Input() frgHeight: string = 'auto';

    @Input() middleImage: string;
    @Input() mddMarginLeft: string = '0';
    @Input() mddMarginTop: string = '0';
    @Input() mddWidth: string = 'auto';
    @Input() mddHeight: string = 'auto';

    @Input() backgroundImage: string;
    @Input() bkgMarginLeft: string = '0';
    @Input() bkgMarginTop: string = '0';
    @Input() bkgWidth: string = 'auto';
    @Input() bkgHeight: string = 'auto';
    @Input() bkgColor: string = '';

    @Input()
    public compact: boolean = false;

    constructor() { }
    ngOnInit() { }
    clicked() {
        this.execute.emit();
    }
}
            </textarea>
        </div>
    </div>
</fieldset>
<fieldset class='littleDarker' style='margin-top: 20px'>
    <legend style='text-align:left'>
        <button (click)='showHtmlCode();' class='smallerBtn'>
            <svg class='char' [@rotate]='detailsVisible2rotation(codeHtmlVisible)' role='img' viewBox='0 0 320 512'>
                <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
            </svg>
            Kód (html)
        </button>
    </legend>
    <div *ngIf='codeHtmlVisible' class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
            <textarea class='width100 code' [ngClass]='compactSubClass' #ta1 style='height: 550px' text='asd'>
&lt;div *ngIf='!compact' class='movingWrapper'
kindaPerspective kpRange='0.20'&gt;
&lt;div class='movingBkgWrapperWrapper'&gt;
    &lt;div class='overHidden cursorPointer movingBkgWrapper positionRelative'
    [ngStyle]='{&quot;background-color&quot;:bkgColor}'
    kindaPerspective kpRange='0.10' kpPerspectiveScale='0' (click)='clicked()'&gt;
    &lt;img *ngIf='backgroundImage' [src]='backgroundImage' class='positionAbsolute left50 top50'
    [ngStyle]='{&quot;height&quot;:bkgHeight, &quot;width&quot;:bkgWidth, &quot;margin-left&quot;:bkgMarginLeft, &quot;margin-top&quot;:bkgMarginTop}'
    kindaPerspective kpRange='0.20' kpShiftScale='-3' kpPerspectiveScale='0'/&gt;

    &lt;img *ngIf='middleImage' [src]='middleImage' class='positionAbsolute left50 top50'
    [ngStyle]='{&quot;height&quot;:mddHeight, &quot;width&quot;:mddWidth, &quot;margin-left&quot;:mddMarginLeft, &quot;margin-top&quot;:mddMarginTop}'
    kindaPerspective kpRange='0.225' kpShiftScale='-2' kpPerspectiveScale='1'/&gt;

    &lt;img *ngIf='foregroundImage' [src]='foregroundImage' class='positionAbsolute left50 top50'
    [ngStyle]='{&quot;height&quot;:frgHeight, &quot;width&quot;:frgWidth,  &quot;margin-left&quot;:frgMarginLeft, &quot;margin-top&quot;:frgMarginTop}'
    kindaPerspective kpRange='0.25' kpShiftScale='-1' kpRotateScale='2' kpPerspectiveScale='3'/&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div *ngIf='compact' class='overHidden cursorPointer movingBkgWrapper compact positionRelative'
[ngStyle]='{&quot;background-color&quot;:bkgColor}'&gt;
    &lt;img *ngIf='backgroundImage' [src]='backgroundImage' class='positionAbsolute left50 top50'
    [ngStyle]='{&quot;height&quot;:bkgHeight, &quot;width&quot;:bkgWidth, &quot;margin-left&quot;:bkgMarginLeft, &quot;margin-top&quot;:bkgMarginTop}'/&gt;

    &lt;img *ngIf='middleImage' [src]='middleImage' class='positionAbsolute left50 top50'
    [ngStyle]='{&quot;height&quot;:mddHeight, &quot;width&quot;:mddWidth, &quot;margin-left&quot;:mddMarginLeft, &quot;margin-top&quot;:mddMarginTop}'/&gt;

    &lt;img *ngIf='foregroundImage' [src]='foregroundImage' class='positionAbsolute left50 top50'
    [ngStyle]='{&quot;height&quot;:frgHeight, &quot;width&quot;:frgWidth,  &quot;margin-left&quot;:frgMarginLeft, &quot;margin-top&quot;:frgMarginTop}'/&gt;
&lt;/div&gt;
            </textarea>
        </div>
    </div>
</fieldset>
<fieldset class='littleDarker' style='margin-top: 20px'>
    <legend style='text-align:left'>
        <button (click)='showCssCode();' class='smallerBtn'>
            <svg class='char' [@rotate]='detailsVisible2rotation(codeCssVisible)' role='img' viewBox='0 0 320 512'>
                <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
            </svg>
            Kód (css)
        </button>
    </legend>
    <div *ngIf='codeCssVisible' class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
            <textarea class='width100 code' [ngClass]='compactSubClass' #ta1 style='height: 310px' text='asd'>
.movingWrapper{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    border: 4px double rgba(255,255,255,0.3);
    background-color: rgba(114, 114, 114, 0.4);
}
.movingBkgWrapperWrapper{
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.movingBkgWrapper{
    border-radius: 8px;
    border: solid 1px #000000;
    height: 100%;
    width: 100%;
}
            </textarea>
        </div>
    </div>
</fieldset>