<div>
    <input type='text' class='txt' name='TestName' placeholder='skupina vysledkov' [(ngModel)]='actAddedResult'/>
    <button (click)='addResultsName(actAddedResult)'>pridaj</button>
    <button class='resultButton' *ngFor='let results of resultsGroups'
    (click)='goResults(results)'>{{results.name}}</button>
</div>
<div *ngIf='showedResults'>
    <button (click)='remResults(showedResults)'>šicko odstráň</button>
    <ul style='font-size:larger'>
        <li *ngFor='let result of actResults'><a class='cursorPointer' (click)='goResult(result)'>{{result.userName}} in {{result.testName}}</a></li>
    </ul>
</div>
<div *ngIf='test'>
  <app-testing-test [divideItems]='false' *ngIf='test'></app-testing-test>
</div>