.table{

    width: calc(100%-10px);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

    display: block;

    border: solid 0.5px #5a5a5a;
    background-color: #39332d;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.textMargin{
    margin: 10px;
}
.backgronud{
    background-color: #23201eb4;
}