<div class='whiteColor positionFixed left0 top0 z100 width100 height100 backgronud outlineNone'
 (click)='bkgClicked($event)' tabindex='0' *ngIf='visible'>
  <div #table class='positionRelative table outlineNone' tabindex='1'
   (click)='fgClicked($event)' (keydown.esc)='hide()'>
    <div class='textMargin'>{{text}}</div>
    <div class="rightText">
      <button *ngFor='let btnConf of buttons' class='inlineBlock' [ngStyle]='btnConf.style'
              (click)='buttonClicked(btnConf)'>{{btnConf.content}}</button>
    </div>
  </div>
</div>
