<div #svgHolder class='top0 left0 centerHorizontally width100 height100'>
    <!--
         (touchstart)='touchStart($event)'
         (touchmove)='touchMove($event)'
         (touchend)='touchEnd($event)'
        
        (mousedown)='mouseDown($event)'
         (mousemove)='mouseMove($event)'
         (mouseup)='mouseUp($event)'
        -->
    <svg
         
         (wheel)='mouseWheel($event)'

         

         (panstart)="onPanStart($event)"
         (panmove)="onPanMove($event)"
         (panend)="onPanEnd($event)"

         (pinchstart)="onPinchStart($event)"
         (pinchmove)="onPinchMove($event)"
         (pinchend)="onPinchEnd($event)"
         (pinchin)="onPinchIn($event)"
         (pinchout)="onPinchOut($event)"
    
         class='positionAbsolute displayBlock height100 width100'>

        <circle *ngFor='let planet of planetSystem?.planets'
                [attr.cx]="planet.dispPosition.x" [attr.cy]="planet.dispPosition.y"
                [attr.r]="planet.dispRadius" 
                [attr.stroke]="planet.strokeColor" [attr.fill]="planet.strokeColor"
                stroke-width="1"/>
        
        <polygon *ngFor='let cross of planetSystem?.crosses'
                 [attr.points]="cross.svgPointsW" style="stroke:Black; stroke-width:1" />
        <polygon *ngFor='let cross of planetSystem?.crosses'
                 [attr.points]="cross.svgPointsH" style="stroke:Black; stroke-width:1" />
        <polygon *ngFor='let cross of planetSystem?.crosses'
                 [attr.points]="cross.svgPointsD" style="stroke:Black; stroke-width:1" />
    </svg>

    <div *ngIf='planetSystem?.displayNames' class="positionAbsolute">
        <div *ngFor='let planet of planetSystem?.planets' class="positionAbsolute"
        [style.top.px]="planet.dispPosition.y-10"
        [style.left.px]="planet.dispPosition.x+5" >{{planet.name}}</div>
    </div>
</div>