<div [ngStyle]='frgSquareStyle' class='positionAbsolute displayBlock subSquareFrg'
(mousedown)='onMouseDown($event)'>
</div>
<!--<div [ngStyle]='bkgSquareStyle' class='positionAbsolute displayBlock subSquareBkg'>
</div>-->