<div #wrapper class='width100 height100 positionFixed'>
    <div #svgHolder class='positionAbsolute width100 height100 myCanvas z2'
    (mousedown)='mouseDown($event)' (mousemove)='mouseMove($event)' (mouseup)='mouseUp($event)'
    (touchstart)='touchStart($event)' (touchmove)='touchMove($event)' (touchend)='touchEnd($event)'>
        <svg #svg class='positionAbsolute width100 height100'>
            <g svg-path *ngFor='let curve of curves.getCurves' [path]='curve.getString()'
            [stroke]='curve.stroke'></g>
        </svg>
        <svg class='positionAbsolute width100 height100' *ngFor='let curves of restDoneCurves.curves'>
            <g svg-path *ngFor='let curve of curves.curves' [path]='curve.data'
            [stroke]='curve.stroke'></g>
        </svg>
    </div>
</div>