<div class='centerText'>
  <input [readonly]='true' type='text' class='first answer normalCursor' placeholder='lava odpoved' [(ngModel)]='context.answers.leftMostSign'/>
  <label class='label' *ngFor='let answer of context.answers.answers'>
    <input class='radio pointerCursor scale2' [disabled]='!test?.enabled' type='radio' name='answerWeight{{context.answers.index}}' [value]='answer' [(ngModel)]='context.answer'/>
    <span *ngIf='context.answers.answerWeightsVisible' class='radioText normalCursor'>{{answer.weight}}</span>
  </label>
  <input [readonly]='true' type='text' class='second answer normalCursor' placeholder='prava odpoved' [(ngModel)]='context.answers.rightMostSign'/>
</div>