.answerCnt{
    width: 50px;
}
.weight{
    width: 30px;
}
.radio{
    margin-top: 15px;
}
.label{
    margin-left: 10px;
    margin-right: 10px;
}
.answer{
    margin-top: 15px;
}
.radioText{
    margin-left: 10px;
}