.parameterSlider{
    width: 180px;
}
.playPauseDot {
    right: 20px;
    top: 20px;
}
.fps{
}
.menuButton {
    display: block;
    margin-right: auto;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: #000 solid 1px;
    background-color: rgb(60, 66, 50);
    z-index: 100;
    width: 35px;
    height: 35px;

}