<div #mainWrapper class="positionRelative height100" >
    <planet-system class='positionAbsolute left0 width100 height100'
        [stepLength]='stepLen' [planetSystem]='planetSystem' [refreshRate]='refreshRate'
        [spaceFriction]='spaceFriction' [drag]='drag'>
    </planet-system>
    <div class="positionAbsolute">
        <button (click)='toggleMenuWrapper()' *ngIf='compact' class="menuButton">
            <svg role='img' viewBox='0 0 448 512' >
                <path fill='currentColor' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'></path>
            </svg>
        </button>
        <div *ngIf='menuVisible || !compact' >
            step len
            <input class='parameterSlider' [style.width.px]="250" type='range' min='10000' max='150000' [(ngModel)]='stepLen'/>
            step time
            <input class='parameterSlider' type='range' min='1' [max]='150' [(ngModel)]='refreshRate'/>
            space friction
            <input class='parameterSlider' type='range' min='0' max='0.05' step='0.001' [(ngModel)]='spaceFriction'/>
            planets Cnt
            <input class='parameterSlider' type='range' min='2' max='1000' step='1' [(ngModel)]='planetsCnt'/>
            <div class="displayInlineBlock">
                <span class='dot' [ngClass]='(planetSystem?.isRun)?"green":"gray"'></span>
                <button (click)='pause()' class="smallerBtn">run/pause</button>
            </div>
            <div class="displayInlineBlock">
                <button (click)='addRandomStaticPlanets()' class="smallerBtn">add rand static P ({{planetsCnt}})</button>
                <button (click)='addRandomVelPlanets()' class="smallerBtn">add rand P with velocity ({{planetsCnt}})</button>
                <button (click)='clear()' class="smallerBtn">clear</button>
                <button (click)='createSomeMassSystem()' class="smallerBtn">concrete system</button>
                <button (click)='toggleDrag()' class="smallerBtn">{{rotateMove}}</button>
            </div>
        </div>
    </div>
    <div class="fps positionAbsolute left0 bottom0">
        cnt:({{cnt}})
        cps alebo ips nie fps:({{fps | number : '3.0-0'}})
        zoom:({{zoom | number : '1.3-3'}})
    </div>
</div>
