<div class='nicelyDissapear' style='color: brown'>
    <div class='displayInlineBlock z6' style='margin: 20px; z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 80px; font-weight: bold; font-size: xx-large;'
    scrollChngDir scdStart='200' scdEnd='200' scdMax='30'>
        text
    </div>
    <div class='displayInlineBlock z6' style='margin: 20px; z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 160px; font-weight: bold; font-size: xx-large;'
    scrollChngDir scdStart='200' scdEnd='200' scdMax='30'>
        text
    </div>
</div>
<div class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
    <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
        <p>
            Tieto 4 'texty' majú nastavenú direktívu 'scrollChangeDir'. Pre vyskúšanie je
            potrebné začať scrollovať smerom dole a takmer odcrollovať tieto hnedé texty zo zobrazovacieho poľa.
        </p>
    </div>
</div>
<div class='nicelyDissapear' style='color: brown'>
    <div class='displayInlineBlock z6' style='margin: 20px; z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 240px; font-weight: bold; font-size: xx-large;'
    scrollChngDir scdStart='250' scdEnd='150' scdMax='80'>
        text
    </div>
    <div class='displayInlineBlock z6' style='margin: 20px; z-index: 10; background-color: rgba(50, 50, 50, 0.5); left: 320px; font-weight: bold; font-size: xx-large;'
    scrollChngDir scdStart='250' scdEnd='150' scdMax='80'>
        text
    </div>
</div>
<fieldset class='littleDarker' style='margin-top: 80px'>
    <legend style='text-align:left'>
        <button (click)='showCode();' class='smallerBtn'>
            <svg class='char' [@rotate]='detailsVisible2rotation(codeVisible)' role='img' viewBox='0 0 320 512'>
                <path fill='currentColor' d='M151.5 427.8L3.5 281c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 362.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0zm17-160l148-146.8c4.7-4.7 4.7-12.3 0-17l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L160 202.7 40.3 84.2c-4.7-4.7-12.3-4.7-17 0L3.5 104c-4.7 4.7-4.7 12.3 0 17l148 146.8c4.7 4.7 12.3 4.7 17 0z'></path>
            </svg>
            Kód
        </button>
    </legend>
    <div *ngIf='codeVisible' class='overHidden textWrapper positionRelative' [ngClass]='compactSubClass'>
        <div class='overlayColorAndDoubleBorder centerHorizontally' [ngClass]='compactSubClass'>
            <textarea class='width100 code' [ngClass]='compactSubClass' #ta1 style='height: 1330px'>
import { Directive, ElementRef, Input, OnInit, HostListener } from '@angular/core';

@Directive({
    selector: '[scrollChngDir]'
})
export class ScrollChngDirDirective implements OnInit {
    private chngDirAct: number;
    private xDir: number = 1;
    @Input('scdMax') max: number;//maximalna zmena smeru (ono sa vyberie nahodne maximum v rozsahu 50% az 100% maxima
    @Input('scdStart') start: number = undefined;//kde sa zacina vrch zmeny smeru
    @Input('scdEnd') end: number = undefined;//kde sa zacina spodok zmeny smeru
    @Input('scdDisabled') disabled: boolean = false;//kde sa zacina spodok zmeny smeru
    private element: HTMLElement;

    constructor(elementRef: ElementRef) {
        this.element = elementRef.nativeElement;
    }
    ngOnInit(){
        let percentOfDev: number = 80;
        this.chngDirAct = this.max / 100 * ((Math.random() * (100 - percentOfDev)) + percentOfDev);
        if (Math.random() > 0.5) this.xDir = -1;
    }
    private isFirstTime: boolean = true;
    @HostListener("window:scroll", [])
    onElementScrolled() {
        if (this.isFirstTime) {
            this.isFirstTime = false;
            return;
        }
        let opacity: number = 1;
        let transform: string = '';
        let ignore: boolean = false;
        let rect = this.element.getBoundingClientRect();
        let elementStartPosition: number = rect.top;
        let elementEndPosition: number = rect.bottom;
        if (this.disabled) {
            if (this.start != undefined) {
                let endPercentageOffsetFromTreshold: number = (this.start-elementEndPosition)/this.start;
                if (endPercentageOffsetFromTreshold > 1) {
                    ignore = true;
                } else if (endPercentageOffsetFromTreshold >= 0) {
                    opacity = (1-endPercentageOffsetFromTreshold);
                }
            }
            if (this.end != undefined) {
                let elementStartPositionFromEnd: number = window.innerHeight-elementStartPosition;
                let startPercentageOffsetFromTreshold: number = (this.end-elementStartPositionFromEnd)/this.end;
                if (startPercentageOffsetFromTreshold > 1) {
                    ignore = true;
                } else if (startPercentageOffsetFromTreshold >= 0) {
                    opacity = (1-startPercentageOffsetFromTreshold);
                }
            }
        } else {
            if (this.start != undefined) {
                let endPercentageOffsetFromTreshold: number = (this.start-elementEndPosition)/this.start;
                if (endPercentageOffsetFromTreshold > 1) {
                    ignore = true;
                } else if (endPercentageOffsetFromTreshold >= 0) {
                    let chngDir: number = this.chngDirAct*endPercentageOffsetFromTreshold;
                    transform = 'translate('+this.xDir*chngDir+'px,'+-0.3*chngDir+'px)';
                    opacity = (1-endPercentageOffsetFromTreshold);
                }
            }
            if (this.end != undefined) {
                let elementStartPositionFromEnd: number = window.innerHeight-elementStartPosition;
                let startPercentageOffsetFromTreshold: number = (this.end-elementStartPositionFromEnd)/this.end;
                if (startPercentageOffsetFromTreshold > 1) {
                    ignore = true;
                } else if (startPercentageOffsetFromTreshold >= 0) {
                    let chngDir: number = this.chngDirAct*startPercentageOffsetFromTreshold;
                    transform = 'translate('+this.xDir*chngDir+'px,'+0.3*chngDir+'px)';
                    opacity = (1-startPercentageOffsetFromTreshold);
                }
            }
        }
        if (!ignore) {
            if (transform) this.element.style.transform = transform;
            else this.element.style.transform = '';
            if (opacity != 0) this.element.style.opacity = opacity.toString();
            else this.element.style.opacity = '';
        }
    }
}
            </textarea>
        </div>
    </div>
</fieldset>