.movingWrapper{
    border-radius: 8px;
    width: 100%;
    height: 100%;
	border: 4px double rgba(255,255,255,0.3);
    background-color: rgba(114, 114, 114, 0.4);
}
.movingBkgWrapperWrapper{
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.movingBkgWrapper{
    border-radius: 8px;
    border: solid 1px #000000;
    height: 100%;
    width: 100%;
}