<div *ngIf='!compact' class='movingWrapper'
  kindaPerspective kpRange='0.20'>
  <div class='movingBkgWrapperWrapper'>
    <div class='overHidden cursorPointer movingBkgWrapper positionRelative'
    [ngStyle]='{"background-color":bkgColor}'
    kindaPerspective kpRange='0.10' kpPerspectiveScale='0' (click)='clicked()'>
      <img *ngIf='backgroundImage' [src]='backgroundImage' class='positionAbsolute left50 top50'
      [ngStyle]='{"height":bkgHeight, "width":bkgWidth, "margin-left":bkgMarginLeft, "margin-top":bkgMarginTop}'
      kindaPerspective kpRange='0.20' kpShiftScale='-3' kpPerspectiveScale='0'/>

      <img *ngIf='middleImage' [src]='middleImage' class='positionAbsolute left50 top50'
      [ngStyle]='{"height":mddHeight, "width":mddWidth, "margin-left":mddMarginLeft, "margin-top":mddMarginTop}'
      kindaPerspective kpRange='0.225' kpShiftScale='-2' kpPerspectiveScale='1'/>

      <img *ngIf='foregroundImage' [src]='foregroundImage' class='positionAbsolute left50 top50'
      [ngStyle]='{"height":frgHeight, "width":frgWidth,  "margin-left":frgMarginLeft, "margin-top":frgMarginTop}'
      kindaPerspective kpRange='0.25' kpShiftScale='-1' kpRotateScale='2' kpPerspectiveScale='3'/>
    </div>
  </div>
</div>

<div *ngIf='compact' class='overHidden cursorPointer movingBkgWrapper compact positionRelative'
  (click)='clicked()' [ngStyle]='{"background-color":bkgColor}'>
  <img *ngIf='backgroundImage' [src]='backgroundImage' class='positionAbsolute left50 top50'
  [ngStyle]='{"height":bkgHeight, "width":bkgWidth, "margin-left":bkgMarginLeft, "margin-top":bkgMarginTop}'/>

  <img *ngIf='middleImage' [src]='middleImage' class='positionAbsolute left50 top50'
  [ngStyle]='{"height":mddHeight, "width":mddWidth, "margin-left":mddMarginLeft, "margin-top":mddMarginTop}'/>

  <img *ngIf='foregroundImage' [src]='foregroundImage' class='positionAbsolute left50 top50'
  [ngStyle]='{"height":frgHeight, "width":frgWidth,  "margin-left":frgMarginLeft, "margin-top":frgMarginTop}'/>
</div>