/* You can add global styles to this file, and also import other style files */
.html{
    background-color: #3c3b37;
    color: white;
}
.outlineNone{
    outline: none
}
.char{
    height: 1em;
}
button{
    background-color: rgb(82, 82, 82);
    border: rgb(82, 82, 82) 1px solid;
    color: rgb(207, 207, 207);
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 5px;
    outline: none;

    transform-origin: 50%;
    transition-property: box-shadow, border, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
button:hover{
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 30px 0px rgb(61, 61, 61);;
    border: 1px solid rgb(117, 117, 117);
    transform: scale(1);
}
textarea{
    background-color: #1e1e1e;
    padding: 5px;
    margin: 2px;
    color: white;
    border: 0.5px solid #5a5a5a;
}
input{
    background-color: #1e1e1e;
    padding: 5px;
    margin: 2px;
    color: white;
    border: 0.5px solid #5a5a5a;
}
select{
    background-color: #1e1e1e;
    padding: 5px;
    margin: 2px;
    color: white;
    border: 0.5px solid #5a5a5a;
}
fieldset {
    display: block;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid #5a5a5a;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.centerText{
    text-align: center;
}
.leftText{
    text-align: left;
}
.rightText{
    text-align: right;
}
.verticalMiddle{
    vertical-align: middle;
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
/*.inlineBlock{
    display: inline-block;
    vertical-align: top;
}*/
.positionRelative{
    position: relative;
}
.positionAbsolute{
    position: absolute;
}
.positionFixed{
    position: fixed;
}
.border{
    border: solid 1px red;
}
.width100{
    width: 100%;
}
.height100{
    height: 100vh;
}
.inlineBlock{
    display: inline-block;
}
.hide{
    display:none;
}
.normalCursor{
    cursor: default;
}
.pointerCursor{
    cursor: pointer;
}
.scale2{
    transform: scale(2);
    vertical-align: sub;
}
.marginL15{
    margin-left: 15px;
}
.littleDarker{
    background-color: rgba(0,0,0,0.2);
}